{% extends "mz_wap/base.html" %}
{% block title %}讲师详情{% endblock %}
{% block keywords %}讲师详情{% endblock %}
{% block description %}讲师详情{% endblock %}
{% block custom_css %}
    <link rel="stylesheet"  href="/static/css/mz_wap/stylev1.2.css"/>
{% endblock %}
{% block container %}
		<div class="wapv12 teacherDetail">
			<div class="banner">
				<p class="img"><img class="ui-imglazyload" data-url="http://www.maiziedu.com/uploads/avatar/2016/05/104_z7zZVlp.png" alt="马青"/></p>
				<strong>马青</strong>
				<span>游戏原画&概念设计讲师</span>
				<p>中国美术家协会会员，资深游戏原画师，概念设计师。 曾任职于上海gamania，上海Massiveblack。参与《上古卷轴4》《蝙蝠侠阿甘之城》《战神3》《黑道圣徒4》等3A级游戏项目。 擅长奇幻类、科幻类角色、机械设定及传统美术绘画，作品多次发表于国内权威杂志《美术》和《中国版画年鉴》</p>
				<a href="#">报名TA的课程</a>
			</div>
			<ul class="infos">
				<li><a>带班数<span><mark>12</mark>个</span></a></li>
				<li><a>累积毕业<span><mark>456</mark>人</span></a></li>
				<li><a>就业率<span><mark>98</mark>%</span></a></li>
			</ul>
			<div class="teacherWork">
				<h3>讲师作品</h3>
				<div class="slider" id="slider1">
					<div class="bd">
						<ul>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherWorkImg01.jpg" alt="作品名称111"/></p>
								<strong>作品名称111</strong>
								<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>
							</li>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherWorkImg01.jpg" alt="作品名称222"/></p>
								<strong>作品名称222</strong>
								<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>
							</li>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherWorkImg01.jpg" alt="作品名称333"/></p>
								<strong>作品名称333</strong>
								<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>
							</li>
						</ul>
					</div>
	                <a class="prev" href="javascript:void(0)"></a>
	                <a class="next" href="javascript:void(0)"></a>
				</div>
			</div>
			<div class="live">
				<h3>讲师经历</h3>
				<ul>
					<li>
						<strong>2015</strong>
						<strong>麦子学院</strong>
						<p>中国美术家协会会员，资深游戏原画师，概念设计师。 曾任职于上海gamania，上海Massiveblack。 参与《战神3》
《上古卷轴4》《蝙蝠侠阿甘之城》《黑道圣徒4》等3A级游戏项目。 擅长奇幻类、科幻类角色、机械设定及传统美术绘画，作品多次发表于国内权威杂志《美术》和《中国版画年鉴》。</p>
						<em>参与项目</em>
						<p>战神3、上古卷轴4、蝙蝠侠阿甘之城、黑道圣徒4</p>
					</li>
					<li>
						<strong>2014</strong>
						<strong>Gamania (游戏橙子)</strong>
						<p>中国美术家协会会员，资深游戏原画师，概念设计师。 曾任职于上海gamania，上海Massiveblack。 参与《战神3》
《上古卷轴4》《蝙蝠侠阿甘之城》《黑道圣徒4》等3A级游戏项目。 擅长奇幻类、科幻类角色、机械设定及传统美术绘画，作品多次发表于国内权威杂志《美术》和《中国版画年鉴》。</p>
						<em>参与项目</em>
						<p>战神3、上古卷轴4、蝙蝠侠阿甘之城、黑道圣徒4</p>
					</li>
					<li>
						<strong>2013</strong>
						<strong>盛大游戏</strong>
						<p>中国美术家协会会员，资深游戏原画师，概念设计师。 曾任职于上海gamania，上海Massiveblack。 参与《战神3》
《上古卷轴4》《蝙蝠侠阿甘之城》《黑道圣徒4》等3A级游戏项目。 擅长奇幻类、科幻类角色、机械设定及传统美术绘画，作品多次发表于国内权威杂志《美术》和《中国版画年鉴》。</p>
						<em>参与项目</em>
						<p>战神3、上古卷轴4、蝙蝠侠阿甘之城、黑道圣徒4</p>
					</li>
				</ul>
			</div>
			<div class="word">
				<p class="img"><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherImg.jpg" alt="马青"/></p>
				<h3>讲师寄语</h3>
				<p class="txt">稳扎稳打的知识结构，海量前沿的实战练习，踏实高效的工作习惯，让每一名学员到岗后都能快速进入状态。麦子学院就是我们的人才培养库，我们信赖麦子学院。</p>
				<a href="">报名TA的课程</a>
			</div>
			<div class="studentWork">
				<h3>学生作品</h3>
				<div class="slider slider2" id="slider2">
					<div class="bd">
						<ul>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/studentWorkImg01.jpg" alt="学生作品"/></li>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/studentWorkImg01.jpg" alt="学生作品"/></li>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/studentWorkImg01.jpg" alt="学生作品"/></li>
						</ul>
					</div>
					<span class="pageState"></span>
				</div>
			</div>
		</div>
{% endblock %}
{% block custom_script %}
		<script src="/static/js/mz_wap/zepto.1.2.0.js"></script>
		<script src="/static/js/mz_wap/slider.js"></script>
	    <script src="/static/js/mz_wap/imglazyload.js"></script>
	    <script type="text/javascript">
	    	TouchSlide({
	    		slideCell: "#slider1",
				mainCell: ".bd ul",
				effect: "left",
				autoPlay: true,
				prevCell: ".prev",
				nextCell: ".next"				
	    	});
	    	TouchSlide({
	    		slideCell: "#slider2",
				mainCell: ".bd ul",
				effect: "left",
				autoPlay: true,
	    	});
	    
	    	$(function(){
	    		$(".ui-imglazyload").picLazyLoad();//图片延迟加载
	    	});
	    </script>
{% endblock %}
