{% extends "mz_wap/base.html" %}
{% block title %}Android应用开发金牌讲师-android培训-麦子学院{% endblock %}
{% block keywords%}Android，Android开发，安卓开发，android培训，android学习{% endblock %}
{% block description%}麦子学院android应用开发金牌讲师—谭均老师，擅长把需求变成应用场景，通过研发转化为商业产品，教授学员研发和团队管理能力极强。多年Android开发及教学经验, 对移动开发有着独到的见解和深入的研究，其授课风格幽默风趣, 内容丰富充实, 善于结合工作、生活中的实际案例, 通过层层引导和深入浅出的方式加深学生对知识点的认识和理解。{% endblock %}
{% block custom_css %}
    <link rel="stylesheet"  href="/static/css/mz_wap/stylev1.2.css"/>
{% endblock %}
{% block container %}
		<div class="wapv12 teacherDetail">
			<div class="banner">
				<p class="img"><img class="ui-imglazyload" data-url="http://www.maiziedu.com/uploads/avatar/2015/05/4b31350e-0103-11e5-acbe-00163e02100b_middle.jpg" alt="谭钧"/></p>
				<strong>谭钧</strong>
				<span>Android应用开发金牌讲师</span>
				<p>5年的app开发经验，负责过播放、社交、社区O2O、生鲜O2O、校园O2O等十余个项目的研发，对用户体验和精致化的Android开发研究深入。擅长把需求变成应用场景，通过研发转化为商业产品，教授学员研发和团队管理能力极强。多年Android开发及教学经验, 对移动开发有着独到的见解和深入的研究，其授课风格幽默风趣, 内容丰富充实, 善于结合工作、生活中的实际案例, 通过层层引导和深入浅出的方式加深学生对知识点的认识和理解。</p>
				<a href="{% url 'course:course_detail' 'android' %}">报名TA的课程</a>
			</div>
			<ul class="infos">
				<li><a>带班数<span><mark>15</mark>个</span></a></li>
				<li><a>累积毕业<span><mark>570</mark>人</span></a></li>
				<li><a>就业率<span><mark>96</mark>%</span></a></li>
			</ul>
			<div class="teacherWork">
				<h3>讲师作品</h3>
				<div class="slider" id="slider1">
					<div class="bd">
						<ul>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndroidTea1.jpg" alt="《情人汇》"/></p>
								<strong>《情人汇》</strong>
							</li>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndroidTea2.jpg" alt="《工业学院校园通》"/></p>
								<strong>《工业学院校园通》</strong>
							</li>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndroidTea3.jpg" alt="《KTV音乐播放器》"/></p>
								<strong>《KTV音乐播放器》</strong>
							</li>
						</ul>
					</div>
	                <a class="prev" href="javascript:void(0)"></a>
	                <a class="next" href="javascript:void(0)"></a>
				</div>
			</div>
			<div class="live">
				<h3>讲师经历</h3>
				<ul>
					<li>
						<strong>2014</strong>
						<strong>麦子学院</strong>
						<p>麦子学院Android应用开发金牌讲师，拥有丰富的开发经验和教学经验。擅长把需求变成应用场景，通过研发转化为商业产品，教学能力、团队管理能力极强。授课风趣幽默，注重理论基础与实际项目相结合，善于对技术原理的讲解以及学生自学能力的培养。</p>
					</li>
					<li>
						<strong>2011</strong>
						<strong>电子科技大学信息中心</strong>
						<p>5年的Android APP开发、1年的Unity3D游戏引擎开发。对Phonegap跨平台框架有具体的开发经验、 熟悉app植入外部SDK（植入广告以及接入移动MM的付费）、 对产品的开发和设计、主要针对软件产品的功能可行性以及市场是否可盈利性以及用户的体验有很独到见解。 对AndroidApp开发有深入研究和个人见解。</p>
						<em>参与项目</em>
						<p>《移动校园》、《邻里通》、《社区平台管理软件》、《情人汇》、《KTV音乐软件》、以及游戏《熊猫去哪儿》</p>
					</li>
				</ul>
			</div>
			<div class="word">
				<p class="img"><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndTea.jpg" alt="谭钧"/></p>
				<h3>讲师寄语</h3>
				<p class="txt">现在我们上课相对传统模式的教育来说，我们可以更加直观的看到每个学生真实的学习状态和一个学习进度，每个学生都有一套自己的清晰明了的学习路线，通过多元化的学习方式，完成每周的学习任务。</p>
				<a href="{% url 'course:course_detail' 'android' %}">报名TA的课程</a>
			</div>
			<div class="studentWork">
				<h3>学生作品</h3>
				<div class="slider slider2" id="slider2">
					<div class="bd">
						<ul>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndroidStu1.jpg" alt="学生作品"/></li>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndroidStu2.jpg" alt="学生作品"/></li>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceAndroidStu3.jpg" alt="学生作品"/></li>
						</ul>
					</div>
					<span class="pageState"></span>
				</div>
			</div>
		</div>
{% endblock %}
{% block custom_script %}
		<script src="/static/js/mz_wap/zepto.1.2.0.js"></script>
		<script src="/static/js/mz_wap/slider.js"></script>
	    <script src="/static/js/mz_wap/imglazyload.js"></script>
	    <script type="text/javascript">
	    	TouchSlide({
	    		slideCell: "#slider1",
				mainCell: ".bd ul",
				effect: "left",
				autoPlay: true,
				prevCell: ".prev",
				nextCell: ".next"				
	    	});
	    	TouchSlide({
	    		slideCell: "#slider2",
				mainCell: ".bd ul",
				effect: "left",
				autoPlay: true,
	    	});
	    
	    	$(function(){
	    		$(".ui-imglazyload").picLazyLoad();//图片延迟加载
	    	});
	    </script>
{% endblock %}
