{% extends "mz_wap/base.html" %}
{% block title %}个人中心 - 老师端 - 麦子学院{% endblock %}
{% block keywords %}个人中心 - 老师端 - 麦子学院{% endblock %}
{% block description %}个人中心 - 老师端 - 麦子学院{% endblock %}
{% block custom_css %}
    <link rel="stylesheet"  href="/static/css/mz_wap/personalcenter.css"/>
{% endblock %}
{% block csstype %}teacherPersonal{% endblock %}
{% block container %}
    <div class="info">
        <div class="teach">
            <p><img src="/static/images/mz_wap/course_teacher.jpg" alt=""/></p>
            <strong>狗小黑</strong>
        </div>
    </div>
    <div class="abstract">
        <strong>老师简介</strong>
        <p>潜心钻研网络技术10余年，8年软件开发与网站架构经验，精通web前端技术、Java EE、B/S结构软件开发流程与管理,RedCMS开源项目创始人。</p>
    </div>
    <div class="course">
        <h4>老师课程</h4>
        <ul>
            <li>
                <a href="" class="img"><img src="/static/images/mz_wap/smallCourseImg01.jpg" alt=""/></a>
                <div class="txt">
                    <a href="">微博运营实战指南相关课程名字</a>
                    <span>23728人正在学习</span>
                </div>
            </li>
            <li>
                <a href="" class="img"><img src="/static/images/mz_wap/smallCourseImg01.jpg" alt=""/></a>
                <div class="txt">
                    <a href="">IOS开发入门</a>
                    <span>23728人正在学习</span>
                </div>
            </li>
            <li>
                <a href="" class="img"><img src="/static/images/mz_wap/smallCourseImg01.jpg" alt=""/></a>
                <div class="txt">
                    <a href="">微博运营实战指南相关课程名字</a>
                    <span>23728人正在学习</span>
                </div>
            </li>
            <li>
                <a href="" class="img"><img src="/static/images/mz_wap/smallCourseImg01.jpg" alt=""/></a>
                <div class="txt">
                    <a href="">IOS开发入门</a>
                    <span>23728人正在学习</span>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}