{% extends "mz_wap/base.html" %}
{% block title %}软件测试专业负责人-软件测试培训-麦子学院{% endblock %}
{% block keywords%}软件测试，软件测试培训{% endblock %}
{% block description%}曾任Camelot Business Inc 集团高级测试工程师、主要从事银行性能测试，精通系统测试/web测试/性能测试等相关技术及理论体系。{% endblock %}

{% block custom_css %}
    <link rel="stylesheet"  href="/static/css/mz_wap/stylev1.2.css"/>
{% endblock %}
{% block container %}
		<div class="wapv12 teacherDetail">
			<div class="banner">
				<p class="img"><img class="ui-imglazyload" data-url="http://www.maiziedu.com/uploads/avatar/2016/04/104_7Va86Yb.png" alt="胡海亮"/></p>
				<strong>胡海亮</strong>
				<span>软件测试专业负责人</span>
				<p>曾任Camelot Business Inc 集团高级测试工程师、主要从事银行性能测试，精通系统测试/web测试/性能测试等相关技术及理论体系。</p>
				<a href="{% url 'course:course_detail' 'te' %}">报名TA的课程</a>
			</div>
			<ul class="infos">
				<li><a>带班数<span><mark>9</mark>个</span></a></li>
				<li><a>累积毕业<span><mark>270</mark>人</span></a></li>
				<li><a>就业率<span><mark>98</mark>%</span></a></li>
			</ul>
			<div class="teacherWork">
				<h3>讲师作品</h3>
				<div class="slider" id="slider1">
					<div class="bd">
						<ul>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceTeTea1.png" alt="WordPress"/></p>
								<strong>WordPress</strong>
							</li>
							<li>
								<p><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceTeTea2.png" alt="360安全卫士"/></p>
								<strong>360安全卫士</strong>
							</li>
						</ul>
					</div>
	                <a class="prev" href="javascript:void(0)"></a>
	                <a class="next" href="javascript:void(0)"></a>
				</div>
			</div>
			<div class="live">
				<h3>讲师经历</h3>
				<ul>
					<li>
						<strong>2015</strong>
						<strong>麦子学院</strong>
						<p>麦子学院软件测试专业负责人及软件测试项目经理；凭借多年金融测试经验，对软件测试有着自己独特的见解和领悟，设计的课程体系全面且与当前企业需求紧密联系。所带课程特色：通俗易懂、层层深入、理论加项目实战、具有时效性、实战性、针对性。</p>
					</li>
					<li>
						<strong>2009</strong>
						<strong>Camelot Business Inc 集团</strong>
						<p>负责需求调研，业务模型及测试模型设计，同时编写计划、方案、报告等技术文档对各种协议利用Java、C、Python等开发语言进行脚本开发，对性能调优进行分析并解决相关问题:涉及到应用服务器、中间件、数据库等问题在测试活动的开展过程中对测试人员及第三方工程师进行业务知识培训。</p>
						<em>参与项目</em>
						<p>吉林农信核心项目、四川农信核心大机性能测试、兴业银行贷款系统、DB2数据库表空间释放项目、 北京农商银行信贷系统可靠性测试</p>
					</li>
				</ul>
			</div>
			<div class="word">
				<p class="img"><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceTeImg.jpg" alt="胡海亮"/></p>
				<h3>讲师寄语</h3>
				<p class="txt">麦子学院软件测试以完整的理论架构体系为基础、拓展部分为辅助、实战项目为引导这种理论加实战的课程不但适合零基础学员还是适合在职技能提升。教学过程更是注重实战演练，层层通关，步步为营，稳打稳扎这样的课程及学习模式难道不会成就你的测试人生吗？测试是一门技术，亦是一门科学，更是一门艺术志同道合的你赶快来麦子吧！让我们共同打开你的艺术之门，从此让你在测试的艺术道路上绽放光芒，描绘出属于你的艺术杰作吧！</p>
				<a href="{% url 'course:course_detail' 'te' %}">报名TA的课程</a>
			</div>
			<div class="studentWork">
				<h3>学生作品</h3>
				<div class="slider slider2" id="slider2">
					<div class="bd">
						<ul>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceTeStu1.png" alt="学生作品"/></li>
							<li><img class="ui-imglazyload" data-url="/static/images/mz_wap/teacherIntroduceTeStu2.png" alt="学生作品"/></li>
						</ul>
					</div>
					<span class="pageState"></span>
				</div>
			</div>
		</div>
{% endblock %}
{% block custom_script %}
		<script src="/static/js/mz_wap/zepto.1.2.0.js"></script>
		<script src="/static/js/mz_wap/slider.js"></script>
	    <script src="/static/js/mz_wap/imglazyload.js"></script>
	    <script type="text/javascript">
	    	TouchSlide({
	    		slideCell: "#slider1",
				mainCell: ".bd ul",
				effect: "left",
				autoPlay: true,
				prevCell: ".prev",
				nextCell: ".next"				
	    	});
	    	TouchSlide({
	    		slideCell: "#slider2",
				mainCell: ".bd ul",
				effect: "left",
				autoPlay: true,
	    	});
	    
	    	$(function(){
	    		$(".ui-imglazyload").picLazyLoad();//图片延迟加载
	    	});
	    </script>
{% endblock %}
