{% extends "mz_wap/base.html" %}
{% block title %}IT技术wiki库-IT技术在线学习-麦子学院{% endblock %}
{% block keywords%}产品经理，软件测试，android，iOS，嵌入式，物联网，php，python，ui，web前端，wiki{% endblock %}
{% block description%}麦子学院wiki库为麦子学院独创的软件开发|android、iOS、python、php、软件测试，产品运营，产品经理，智能硬件|嵌入式、物联网，设计|ui设计、游戏原画设计基础教程学习平台，提供了大量的最新原创教程和在线实例，让您可以更好的学习IT技术。{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="/static/css/mz_wap/wiki_style.css"/>
{% endblock %}
{% block csstype %}wap_wiki{% endblock %}
{% block container %}
    {% with 'wiki' as nav_name %}
        {% include 'mz_wap/module/wiki_header1.html' %}
    {% endwith %}
    <section class="lists">
        {% for course_data in course_data_list %}
        <section>
            {% for k, v in course_data.items %}
            <h3>{{ k }}</h3>
            <ul>
                {% for course in v %}
                <li>
                    <a href="{% url 'wiki_course_detail' course.short_name %}"  title="{{ course.name }}">
                        <div><p><img class="ui-imglazyload" data-url="{{ MEDIA_URL }}{{ course.img_url }}" {% if course.img_title %}alt="{{ course.img_title }}" {% endif %}></p><strong>{{ course.name }}</strong></div>
                        <span>{{ course.info }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </section>
        {% endfor %}
    </section>
    {% include 'mz_wap/login.html' %}
    {% include 'mz_wap/footer.html' %}
    {% include 'mz_wap/module/div_search_layout.html' %}
{% endblock %}

{% block custom_script %}
    <script src="{{STATIC_URL}}js/mz_wap/zepto.js"></script>
    <script src="{{STATIC_URL}}js/mz_wap/imglazyload.js"></script>
	<script src="{{STATIC_URL}}js/mz_wap/main.js"></script>
	<script src="{{STATIC_URL}}js/mz_wap/login.js"></script>
	<script src="{{STATIC_URL}}js/mz_wap/search_suggest1.js"></script>
    <script type="text/javascript">
        //搜索模块
        $(".wap_wiki .search").click(function(){
            $("body").css("position","fixed");
            $("#searchwrap").animate({top:"0"},600);
            $(".search_txt").val('').focus();
        });
    </script>
{% endblock %}