{% extends "pager.html" %}
{% block pager %}
        <div class="modal-header active">
            {% ifequal action "add"%}
            <h4 class="modal-title" >
                添加子菜单</h4>
            {% endifequal%}
            {% ifequal action "edit"%}
            <h4 class="modal-title" >
                编辑菜单</h4>
            {% endifequal%}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <form action="{%url 'mz_wechat:wechat_menu_save'%}" method="post" id="form">
                        {% csrf_token %}
                        <input type="hidden" value="{{ action }}" name="action">
                        <input type="hidden" value="{{ menu.id }}" name="id">
                        {% ifnotequal menu.type 3 %}
                        <div class="form-group">
                            <label>菜单类型:</label>
                            <p>
                                 <input type="radio"  id="menu_type_1" name="type" class="menu_type" value=1 {%ifequal menu.type None%}checked{%endifequal%}{%ifequal menu.type 1%}checked{%endifequal%}>
                                 <label for="menu_type_1">菜单跳转</label>
                            </p>

                            <p>
                                <input type="radio"  id="menu_type_2" name="type" class="menu_type" value=2 {%ifequal menu.type 2%}checked{%endifequal%}>
                                <label for="menu_type_2">菜单点击事件</label>
                            </p>
                        </div>
                        {% endifnotequal%}
                        <div class="form-group">
                            <label for="menu_name">菜单名:</label>
                            <input type="text" class="form-control" id="menu_name" name="name" value="{{menu.name}}">
                        </div>
                        <div class="form-group" id="div_url">
                            <label for="menu_key">URL:</label>
                            <input type="text" class="form-control" id="menu_key" name="key" value="{{menu.key}}" >
                            <p id="name_error" class="text-danger">{{ error }}</p>
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>

                    </form>

                </div>
            </div>
        </div>
    <hr>



<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
<script type="text/javascript">
function type_click(){
    var type = $("input[name='type']:checked").val();
    if (type==1){
        $("#div_url").css("display","block");
        $("#div_reply_type").css("display","none");
        $("#div_reply_content").css("display","none");
    }
    else if (type==2){
        $("#div_url").css("display","none");
        $("#div_reply_type").css("display","block");
        $("#div_reply_content").css("display","block");
    }
    else{
        $("#div_url").css("display","none");
        $("#div_reply_type").css("display","none");
        $("#div_reply_content").css("display","none");
    }

}

$(document).ready(function () {
    type_click();
    $(".menu_type").change(type_click);

});


</script>
{% endblock %}