<!-- 给文章列表，讲师包装页使用的footer -->
<div class="article_footer">
    <div class="container">
        <div class="v5-footer-bottom" style="padding: 39px 0;">
            <div class="footer-logo"><img src="/images/footLogo.png" alt="logo"></div>
            <div class="webmap font12">
                <a href="http://www.maiziedu.com/common/about">关于我们</a> |
                <a href="http://www.maiziedu.com/common/join">加入我们</a> |
                <a href="http://www.maiziedu.com/common/contact">联系我们</a>
                <!--|<a href="/common/feedback/publish/">意见反馈</a>-->
                <p class="color99">Copyright © 2012-2017 麦子学院 All Right Reserved. 蜀ICP备13014270号-4</p>
            </div>
            <div class="hot-line">
                <span class="font20 color99">服务热线：400-862-8862</span>
                <a class="weixin-qrcode" href="javascript:void(0);">
                <div class="weixin-box"></div>
                </a>
                <a class="weibo-qrcode" href="http://weibo.com/microoh"></a>
                <!--<a class="sevenDaysRefunds">7天退款</a>-->
            </div>

        </div>
    </div>
</div>
