{% extends "mz_common/base4.html" %}
{% block title %}{{ sclass.display_name }} LPS3.0 学生端 - 统计 - 满意度调查问卷 - 麦子学院{% endblock %}
{% block custom_css %}
<style>
body{ background: #f5f5f5;}
.verror{ color: red;}
</style>
{% endblock %}

{% block container %}
    <section class="statisticsList center">
        <i class="itopBG"></i><i class="ibottomBG"></i>

        <div class="statisticsList_con">
            <p class="font24 color33 textC marginB29">麦子学院教师评分表</p>

            <p class="titleTop font18 color33 marginB10">
                姓名：<span>{{ student_name }}</span>
                班级：<span>{{ class_name }}</span>
            </p>

            <p class="font14 color33 marginB38">请对教师授课情况打分，每项最高5分，请在您认为合适的分值上划钩，满分是100分（注：较差&nbsp;1分 及格&nbsp;2分 中等&nbsp;3分 良好&nbsp;4分
                优秀&nbsp;5分）<br><span class="red">所有选择项为必选项</span></p>

            <form id="ques_info_save" method="post" action="{% url 'lps3:eduadmin:stats:questionnaire_submit' %}" tourl="{% url 'lps3:student_class' class_id %}">
                {% for k, v in ques_items.items %}
                    <p class="font18 color33 marginB20">
                        {% if forloop.counter == 1 %}一、
                        {% elif forloop.counter == 2 %}二、
                        {% elif forloop.counter == 3 %}三、
                        {% else %}四、 {% endif %}{{ v.name }}
                    </p>
                    <div class="font14 statisticsList_conBox marginB10">
                        {% for val in v.question_stem %}
                            <p class="color33 marginB10">{{ val.1 }}</p>
                            <p class="marginB20">
                                {% for cho_k, cho_v in ques_choices.items %}
                                    <label class="statisticsRadio">
                                        <input type="radio" name="{{ val.0 }}" value="{{ cho_k }}"><i></i>{{ cho_v }}
                                    </label>
                                {% endfor %}
                            </p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <p class="font18 color33 marginB10">■ 您认为带班教师还有哪些优点和不足，并请指出对带班教师的总体评价和希望：</p>

                <div class="font14 statisticsList_conBox marginB20">
                    <textarea class="statisticsTxt" name="subjective_item_1" valid="num" num="0-100"></textarea>
                </div>
                <p class="font18 color33 marginB10">■ 请提出您对麦子学院的希望和建议：</p>

                <div class="font14 statisticsList_conBox marginB38">
                    <textarea name="subjective_item_2" class="statisticsTxt" valid="num" num="0-100"></textarea>
                </div>
                <input name="classstudent_id" type="hidden" value="{{ classstudent_id }}"/>
                <input name="class_id" type="hidden" value="{{ class_id }}"/>

                <p class="textC marginB20">
                    <input type="button" class="statisticsbtn" value="提交" id="id_save_post">
                </p>

            </form>
        <div id="get_data"></div>
        </div>
    </section>
{% endblock %}

{% block sea_script %}
<script>seajs.use("/js/lps4/dist/main",function(main){main.loading("statisticsL");});</script>
{% endblock %}
{% block baidu %}{% endblock %}{% block 53kf %}{% endblock %}