{% extends "mz_common/base4.html" %}
{% block title %}{{ seo.seo_title }}{% endblock %}
{% block keywords%}{{ seo.seo_keyword }}{% endblock %}
{% block description%}{{ seo.seo_description }}{% endblock %}

{% block container %}
    <div class="aboutlessonBox1 textC">
	<p class="font72 colorff bold p1 marginB20">Android应用开发</p>
    <p class="font18 colorff marginB84">一句话概括的专业竞争力，麦子学院Android应用开发</p>
    <p class="aboutlessonBox1Btn"><a href="">免费体验学习</a><a href="">立即报名</a><a class="afq">分期支付</a></p>
</div>

<div class="aboutlessonBox2">
<div class="center">
    	<div class="div">
    	<p class=" font32 color33 marginB29"><span class="font62">不一样</span>的Android开发教学</p>
        <p class="font18 color99">最贴进实际开发需求，公司开发常用的框架教学、单知识点多项目结构，不仅能够掌握android知识技能，更重要的能举一反三，可以做android手机系统的android应用工程师。</p>
        </div>
    </div>
</div>

<div class="aboutlessonBox3">
	<p class="font36 textC pt marginB70">重塑在线学习过程</p>
    <div class="aboutlessonBox3_mac">
    	<div class="font18 color99 d1">由浅入深关卡式提升<i></i></div>
        <div class="font18 color99 d2">名师绝招无保留传授<i></i></div>
        <div class="font18 color99 d3"><i></i>实名精英人脉强链接</div>
        <div class="font18 color99 d4"><i></i>商业级项目全程精炼</div>
        <div class="mac"></div>
    </div>
    <p class="textC"><a class="aLessonBtn">我要体验学习</a></p>
</div>

<div class="section5">
	<ul class="bxslider2">
        <li pt="硅谷培训教父1" en="Duncan Hunter" pc="工业设计专业出身，拥有扎实的科班功底。在长虹集团深造用户研究能力后，进入新浪负责微博物联网、新浪读书、微博互动营销等重要项目。个人设计风格简洁大方、富有质感、充满灵性。同时，其在平台设计规范、人机交互特点、简介设计理念等研究领域颇具成绩。" hp="http://ocsource.maiziedu.com/sketch1.mp4"><img src="{{ STATIC_URL }}mz_lps4/img/img004.jpg" /></li>
        <li pt="硅谷培训教父2" en="Duncan Hunter" pc="工业设计专业出身，拥有扎实的科班功底。在长虹集团深造用户研究能力后，进入新浪负责微博物联网、新浪读书、微博互动营销等重要项目。个人设计风格简洁大方、富有质感、充满灵性。同时，其在平台设计规范、人机交互特点、简介设计理念等研究领域颇具成绩。" hp="http://ocsource.maiziedu.com/sketch1.mp4"><img src="{{ STATIC_URL }}mz_lps4/img/img004.jpg" /></li>
        <li pt="硅谷培训教父3" en="Duncan Hunter" pc="工业设计专业出身，拥有扎实的科班功底。在长虹集团深造用户研究能力后，进入新浪负责微博物联网、新浪读书、微博互动营销等重要项目。个人设计风格简洁大方、富有质感、充满灵性。同时，其在平台设计规范、人机交互特点、简介设计理念等研究领域颇具成绩。" hp="http://ocsource.maiziedu.com/sketch1.mp4"><img src="{{ STATIC_URL }}mz_lps4/img/img004.jpg" /></li>
        <li pt="硅谷培训教父4" en="Duncan Hunter" pc="工业设计专业出身，拥有扎实的科班功底。在长虹集团深造用户研究能力后，进入新浪负责微博物联网、新浪读书、微博互动营销等重要项目。个人设计风格简洁大方、富有质感、充满灵性。同时，其在平台设计规范、人机交互特点、简介设计理念等研究领域颇具成绩。" hp="http://ocsource.maiziedu.com/sketch1.mp4"><img src="{{ STATIC_URL }}mz_lps4/img/img004.jpg" /></li>
    </ul>

	<div class="colorff textC div">
    	<p class="font20">硅谷培训教父</p>
		<p class="font40 Arial marginB29">Duncan Hunter</p>
        <p class="font16 marginB60 line2">工业设计专业出身，拥有扎实的科班功底。在长虹集团深造用户研究能力后，进入新浪负责微博物联网、新浪读书、微博互动营销等重要项目。个人设计风格简洁大方、富有质感、充满灵性。同时，其在平台设计规范、人机交互特点、简介设计理念等研究领域颇具成绩。</p>
        <p><a class="videoArrow" onClick="openVideo()"></a></p>
    </div>
    <div class="section5_bottom textC">
    	<a class="t3out aH" n=0><img src="{{ STATIC_URL }}mz_lps4/img/t001.jpg"><i></i></a><a class="t3out" n=1><img src="{{ STATIC_URL }}mz_lps4/img/t001.jpg"><i></i></a><a class="t3out" n=2><img src="{{ STATIC_URL }}mz_lps4/img/t001.jpg"><i></i></a><a class="t3out" n=3><img src="{{ STATIC_URL }}mz_lps4/img/t001.jpg"><i></i></a>
    </div>

</div>

<div class="aboutlessonBox4">
	<p class="textC font36 color33 pt marginB29">学生作品</p>
    <div class="aboutlessonBox4Div">
    	<ul class="poster-list">
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/1.jpg" width="100%" ></li>
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/2.jpg" width="100%" ></li>
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/3.jpg" width="100%" ></li>
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/4.jpg" width="100%" ></li>
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/5.jpg" width="100%" ></li>
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/6.jpg" width="100%" ></li>
            <li class="poster-item t5o"><img src="{{ STATIC_URL }}mz_lps4/img/7.jpg" width="100%" ></li>
        </ul>
    </div>
</div>

<div class="center aboutlessonBox5">
	<p class="textC font36 color33 pt">课程内容</p>
    <ul class="aboutlessonBox5UL">
    	<li>
        	<div class="div">
            	<div >
                	<p class="font36 color5e">入学阶段</p>
                    <p class="color66 font16">C语言基础掌握及环境搭建</p>
                </div>
                <p class="textC color99 pp marginB29"><span>13</span>个任务，<span>78</span>个知识点，<span>25</span>项测试</p>
                <dl class="color99 font16">
                	<dd>• Linux-虚拟机使用</dd><dd>• C语言内存空间</dd>
                    <dd>• 开发板系统概览</dd><dd>• C语言函数空间</dd>
                    <dd>• C语言语法概述</dd><dd>• C大纲课程大纲</dd>
                </dl>
            </div>
            <img src="{{ STATIC_URL }}mz_lps4/img/img101.png" class="img">
        </li>
        <li>
        	<div class="div">
            	<div >
                	<p class="font36 color5e">基础阶段</p>
                    <p class="color66 font16">C语言基础掌握及环境搭建</p>
                </div>
                <p class="textC color99 pp marginB29"><span>13</span>个任务，<span>78</span>个知识点，<span>25</span>项测试</p>
                <dl class="color99 font16">
                	<dd>• Linux-虚拟机使用</dd><dd>• C语言内存空间</dd>
                    <dd>• 开发板系统概览</dd><dd>• C语言函数空间</dd>
                    <dd>• C语言语法概述</dd><dd>• C大纲课程大纲</dd>
                </dl>
            </div>
            <img src="{{ STATIC_URL }}mz_lps4/img/img102.png" class="img">
        </li>
        <li>
        	<div class="div">
            	<div >
                	<p class="font36 color5e">实战阶段</p>
                    <p class="color66 font16">C语言基础掌握及环境搭建</p>
                </div>
                <p class="textC color99 pp marginB29"><span>13</span>个任务，<span>78</span>个知识点，<span>25</span>项测试</p>
                <dl class="color99 font16">
                	<dd>• Linux-虚拟机使用</dd><dd>• C语言内存空间</dd>
                    <dd>• 开发板系统概览</dd><dd>• C语言函数空间</dd>
                    <dd>• C语言语法概述</dd><dd>• C大纲课程大纲</dd>
                </dl>
            </div>
            <img src="{{ STATIC_URL }}mz_lps4/img/img103.png" class="img">
        </li>
        <li>
        	<div class="div">
            	<div >
                	<p class="font36 color5e">项目阶段</p>
                    <p class="color66 font16">C语言基础掌握及环境搭建</p>
                </div>
                <p class="textC color99 pp marginB29"><span>13</span>个任务，<span>78</span>个知识点，<span>25</span>项测试</p>
                <dl class="color99 font16">
                	<dd>• Linux-虚拟机使用</dd><dd>• C语言内存空间</dd>
                    <dd>• 开发板系统概览</dd><dd>• C语言函数空间</dd>
                    <dd>• C语言语法概述</dd><dd>• C大纲课程大纲</dd>
                </dl>
            </div>
            <img src="{{ STATIC_URL }}mz_lps4/img/img104.png" class="img">
        </li>
        <li>
        	<div class="div">
            	<div >
                	<p class="font36 color5e">就业阶段</p>
                    <p class="color66 font16">C语言基础掌握及环境搭建</p>
                </div>
                <p class="textC color99 pp marginB29"><span>13</span>个任务，<span>78</span>个知识点，<span>25</span>项测试</p>
                <dl class="color99 font16">
                	<dd>• Linux-虚拟机使用</dd><dd>• C语言内存空间</dd>
                    <dd>• 开发板系统概览</dd><dd>• C语言函数空间</dd>
                    <dd>• C语言语法概述</dd><dd>• C大纲课程大纲</dd>
                </dl>
            </div>
            <img src="{{ STATIC_URL }}mz_lps4/img/img105.png" class="img">
        </li>
    </ul>
    <p class="textC"><a class="aLessonBtn">查看免费教学视频</a></p>
</div>

<div class="aboutlessonBox6">
	<div class="center textC">
    	<p class="marginB20 font60 color99 p">7天不满意全额退款</p>
        <p class="font36 colorff marginB29">入学即签保就业协议</p>
        <p class="font22 colorff marginB50">无法就业，承诺退款</p>
        <p class="font22 colorff"><s class="color99">市场价格：¥18000</s>&nbsp;&nbsp;&nbsp;&nbsp;麦子价格：¥8000</p>
        <img src="{{ STATIC_URL }}mz_lps4/images/LessonImg005.png" class="img1">
        <img src="{{ STATIC_URL }}mz_lps4/images/LessonImg006.png" class="img2">
    </div>
</div>
{% endblock %}

{% block custom_script %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mz_lps4/css/jquery.bxslider.css">
<script src="{{ STATIC_URL }}mz_lps4/js/jquery.bxslider.js"></script>
<script src="{{ STATIC_URL }}mz_lps4/js/PicCarousel.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}mz_lps4/v/video-js.css">
<script src="{{ STATIC_URL }}mz_lps4/v/video.js"></script>
<script>
    videojs.options.flash.swf = "{{ STATIC_URL }}mz_lps4/v/video-js.swf"
</script>
<script src="{{ STATIC_URL }}mz_lps4/js/book.js"></script>

<script>
$(function(){
	myaLesson.prototype=new  Load();
	var loading=new myaLesson();
	loading.indexInit();
})
</script>
{% endblock %}