{% load  datetime_convert_tag %}
{% for item in discuss_list %}
    {% if item.parent_id == None %}
<ul class="askListIp">
    <li>
        <div class="askListL"><a><img src="/uploads/{{ item.user.avatar_url }}"></a></div>
        <div class="askListR color33 font16">
            <p class="font14 color66 pt">{{ item.user.nick_name }}{% if item.user.is_teacher == True %}老师{% endif %}</p>
            <p class="">{{ item.content }}</p>
            <p class="fx colorCC font13"><span class="colorCC">{% date_convert item.date_publish %}</span></p>
            <div class="reply font13 color66 marginB4">
                {% for child_items in child_comment %}
                {% for child_item in child_items%}
                {% if child_item.parent_id == item.id %}
                <p><span class="color6d">{{ child_item.user.nick_name }}{% if child_item.user.is_teacher == True %}老师{% endif %}</span>{{ child_item.content }}</p>
                {% endif%}
                {% endfor%}
                {% endfor %}
            </div>
        </div>
    </li>
</ul>
{% endif %}
{% endfor %}
