@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
code,
em,
img,
q,
s,
strike,
strong,
syt,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
footer,
header,
nav,
section,
audio,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Pingfang SC", "Lantinghei SC", "Microsoft YaHei", "微软雅黑", SimSun, Arial;
  -webkit-font-smoothing: antialiased; }

em,
i {
  font-style: normal; }

img {
  border: none;
  vertical-align: top;
  max-width: 100%; }

a {
  text-decoration: none; }

a:active {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "mzicon";
  src: url("../mzicon/iconfont.eot?t=1494495636987");
  /* IE9*/
  src: url("../mzicon/iconfont.eot?t=1494495636987#iefix") format("embedded-opentype"), url("../mzicon/iconfont.woff?t=1494495636987") format("woff"), url("../mzicon/iconfont.ttf?t=1494495636987") format("truetype"), url("../mzicon/iconfont.svg?t=1494495636987#mzicon") format("svg");
  /* iOS 4.1- */ }
.mzicon {
  font-family: "mzicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mzicon-fabu:before {
  content: "\e601"; }

.mzicon-brush:before {
  content: "\e602"; }

.mzicon-code:before {
  content: "\e603"; }

.mzicon-design:before {
  content: "\e604"; }

.mzicon-file:before {
  content: "\e605"; }

.mzicon-pen:before {
  content: "\e606"; }

.mzicon-test:before {
  content: "\e607"; }

.mzicon-data:before {
  content: "\e609"; }

.mzicon-computer:before {
  content: "\e60a"; }

.mzicon-360:before {
  content: "\e60b"; }

.mzicon-environment:before {
  content: "\e60c"; }

.mzicon-iphone:before {
  content: "\e60d"; }

.mzicon-more:before {
  content: "\e60e"; }

.mzicon-sou:before {
  content: "\e60f"; }

.mzicon-qq:before {
  content: "\e610"; }

.mzicon-time:before {
  content: "\e611"; }

.mzicon-weix:before {
  content: "\e608"; }

.mzicon-tea:before {
  content: "\e612"; }

.mzicon-men:before {
  content: "\e613"; }

.db {
  display: block !important; }
.dn {
  display: none !important; }

.di {
  display: inline !important; }

.dib {
  display: inline-block !important; }

.w-full {
  display: block;
  width: 100%; }

.di-vm {
  display: inline-block;
  vertical-align: middle; }

.bn {
  border: none !important; }

.bd2 {
  border-width: 2px; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clear {
  zoom: 1; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.fz0 {
  font-size: 0;
  overflow: hidden; }

.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.tx-lc {
  text-transform: lowercase; }

.tx-uc {
  text-transform: uppercase; }

.tx-cl {
  text-transform: capitalize; }

.bgn {
  background: none; }

.bgff {
  background: #fff; }

.bgfb {
  background: #fbfbfb; }

.bgf5 {
  background: #f5f5f5; }

.bgf0 {
  background: #f0f0f0; }

/*# sourceMappingURL=common.css.map */
