<!-- 预约试学 -->
<div class="modal fade YaHei" id="free-tips" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <h3>免费试学小贴士</h3>                        
            <div class="modal-body">
                <ul>
                    <li>第<span>1</span>步</li>
                    <li class="middle">第<span>2</span>步</li>
                    <li>第<span>3</span>步</li>
                </ul>
                <div class="text">
                    <p class="title">如何报名：</p>
                    <p>1.如果您对试学质量感到满意，可以直接报名企业直通班获得更加全面和定制化的教学服务。</p>
                    <p>2.如果试学中有任何疑惑，可以点击页面右侧 <i></i> 进行咨询。</p>
                </div>
                <p ><a class="i-know">我明白了</a></p>
            </div>            
        </div>
    </div>
</div>
<style type="text/css">
#free-tips .modal-dialog {width: 800px;}
#free-tips h3 {height: 70px;line-height: 70px;text-align: center;font-size: 26px;color: #fff;background: url(/images/free-tips-h3.png) 0 0 no-repeat;}
#free-tips .modal-body {height: 521px;padding-top: 40px;}
#free-tips .modal-body ul:before,#free-tips .modal-body ul:after {content: '';display: table;clear: both;}
#free-tips .modal-body ul {background: url(/images/free-tips-line.png) 0 0 no-repeat;}
#free-tips .modal-body ul li {float: left;width: 235px;height: 205px;text-align: center;font-size: 16px;color: #666;font-weight: bold;}
#free-tips .modal-body ul li:first-child {
    background: url(/images/free-step-1.png) center bottom no-repeat;
}
#free-tips .modal-body ul li:last-child {
    background: url(/images/free-step-3.png) 20px bottom no-repeat;
}
#free-tips .modal-body ul li span {
    display: inline-block;vertical-align: middle;
    width: 41px;height: 41px;line-height: 41px;
    border-radius: 50%;margin: 0 10px;
    color: #fff;
    font-size: 24px;
    background: -webkit-linear-gradient(#53CEBF, #5BCC9B);
    background: -o-linear-gradient(#53CEBF, #5BCC9B);
    background: -moz-linear-gradient(#53CEBF, #5BCC9B);
    background: linear-gradient(#53CEBF, #5BCC9B);
}
#free-tips .modal-body ul .middle {width: 264px;background: url(/images/free-step-2.png) center bottom no-repeat;}
#free-tips .modal-body .text {padding: 20px;background-color: #f5f5f5;line-height: 32px;color: #666;margin-top: 30px;}
#free-tips .modal-body .text .title {font-size: 20px;}
#free-tips .modal-body .text p {font-size: 16px;}
#free-tips .modal-body .text i {display: inline-block;vertical-align: middle;width: 30px;height: 30px;background: url(/images/zx-icon.png) 0 0 no-repeat;}
#free-tips .modal-body > p {position: absolute;width: 100%;left: 0;bottom: 30px;text-align: center;}
#free-tips .modal-body .i-know {display: inline-block;width: 220px;height: 50px;line-height: 50px;border-radius: 2px;background-color: #5ECFBA;font-size: 16px;color: #fff;outline: none;} 
</style>