{% extends "pager.html" %}
{% block content %}

    <div class="input-group mySearch">
        <select id="wechat_career_search_select" class="form-control">
            <option value=0>请选择课程分类</option>
            {% for career in career_course %}
                <option value={{ career.id }}>{{ career.name }}</option>
            {% endfor %}
        </select>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="btn_search" onclick="onSearch()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
    	</span>
    </div>
    <!-- 扩展功能栏  -->
    <div class="function_btn">
        <ul class="nav navbar-nav navbar-btn">
            <li>
                <button type="button" id="btn_refresh" onclick="addCourse()"
                        class="btn btn-default btn-sm active">
                    <span class="glyphicon glyphicon-plus">添加课程</span>
                </button>
            </li>

        </ul>
    </div>

    <table class="table table-striped table-responsive table-bordered table-hover">
        <thead>
        <tr>
            <th width="auto;">所属课程分类</th>
            <th width="auto;">课程名称</th>
            <th width="auto;">课程ID</th>
            <th width="auto;">课程教师</th>
            <th width="auto;">发布时间</th>
            <th width="80px;">课程价格</th>
            <th width="auto;">对应官网职业课程</th>
            <th width="80px;">是否显示</th>
            <th width="80px;">显示顺序</th>
            <th width="340px;">操作</th>
        </tr>
        </thead>
        <tbody id="dataTable" class="text_over_flow">
        {% if wechat_course %}
            {% for course in wechat_course %}
                <tr>

                    <td title="{{ course.career_name|default_if_none:'' }}">
                        {{ course.career_name|default_if_none:"" }}
                    </td>
                    <td title="{{ course.course_name|default_if_none:'' }}">
                        {{ course.course_name|default_if_none:"" }}
                    </td>
                    <td title="{{ course.course_id|default_if_none:'' }}">
                        {{ course.course_id|default_if_none:"" }}
                    </td>
                    <td title="{{ course.nick_name|default_if_none:'' }}">
                        {{ course.nick_name|default_if_none:"" }}
                    </td>
                    <td title="{{ course.date_publish|date:'Y-m-d H:i:s' }}">
                        {{ course.date_publish|date:"Y-m-d H:i:s" }}
                    </td>
                    <td title="{{ course.price|default_if_none:'' }}">
                        {{ course.price|default_if_none:'' }}
                    </td>
                    <td title="{{ course.web_career_name|default_if_none:'' }}">
                        {{ course.web_career_name|default_if_none:"" }}
                    </td>
                    <td title="{{ course.course_is_active|yesno:"是,否,否" }}">
                        {{ course.course_is_active|yesno:"是,否,否" }}
                    </td>
                    <td title="{{ course.course_index }}">
                        {{ course.course_index }}
                    </td>
                    <td>
                        <a href="javascript:void(0)" title="查看"
                           class="btn  btn-info active" onclick="showCourse({{ course.course_id }});"
                           style="margin-right:3px;" role="button">
                            查看
                        </a>
                        <a href="javascript:void(0)" title="编辑"
                           class="btn  btn-success active" onclick="editCourse({{ course.course_id }})"
                           style="margin-right:3px;" role="button">
                            编辑
                        </a>
                        <a href="javascript:void(0)" title="查看所有章节"
                           class="btn btn-primary active" onclick="showLesson({{ course.course_id }});"
                           style="margin-right:3px;" role="button">
                            查看所有章节
                        </a>
                        <a href="javascript:void(0)" title="删除"
                           class="btn  btn-danger active" onclick="showDelModal({{ course.course_id }});"
                           style="margin-right:3px;" role="button">
                            删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9">查询到0条数据！</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>


    <!-- 提示确认框  -->
    <div class="modal fade" id="modal_del_course" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary active">
                    <button type="button" class="close" data-dismiss='modal' aria-lable='close'><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-shadow:3px 3px 2px #000">
                        确认提醒</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <input id="del_course_id" class="hidden" type="text" value="">
                            <h5><b id="show_msg">确认要删除该课程吗？</b></h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="text-danger selectRowId" style="float: left;display: none"></span>
                    <button type="button" class="btn btn-danger active" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary active" onclick="delCourse()" id="btn_confirm">确定
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>

        function onQuery() {
            var current_url = window.location.href;
            var start_url = current_url.split("&page_index=")[0];
            if (start_url.indexOf("action=") == -1) {
                var url = start_url + "?action=query" + getPage();
            }
            else {
                var url = start_url + getPage();
            }
            window.location.href = url;
        }

        {#        function onQuery() {#}
        {##}
        {#            var url = "{% url 'mz_wechat:wechat_course_list' %}?action=query" + getPage();#}
        {#            window.location.href = url;#}
        {#        }#}

        function showCourse(id) {
            var url = "{% url 'mz_wechat:wechat_course_edit'%}?action=show&course_id={0}".format(id);
            window.location.href = url;
        }

        function showLesson(course_id) {
            var url = "{% url 'mz_wechat:wechat_lesson_list'%}?action=query&course_id={0}".format(course_id);
            window.location.href = url;
        }

        function editCourse(id) {
            var url = "{% url 'mz_wechat:wechat_course_edit'%}?action=edit&course_id={0}".format(id);
            window.location.href = url;
        }

        function showDelModal(id) {
            $('#del_course_id').val(id);
            $('#modal_del_course').modal('show');
        }

        function delCourse() {
            var id = $('#del_course_id').val();
            var url = "{% url 'mz_wechat:wechat_course_del'%}?course_id={0}".format(id);
            window.location.href = url;
        }

        function addCourse() {
            var url = "{% url 'mz_wechat:wechat_course_edit'%}?action=add";
            window.location.href = url;
        }

        function onSearch() {
            var career_course_id = $("#wechat_career_search_select option:selected").val();
            if (career_course_id > 0) {
                var url = "{% url 'mz_wechat:wechat_course_list' %}?action=search&career_course_id={0}".format(career_course_id);
                window.location.href = url;
            }
            else {
                layer.alert("请选择课程分类")
            }

        }

    </script>

{% endblock %}
