{% extends "index.html" %}
{% block pager %}
<script type="text/javascript">

    function goback() {
        history.go(-1)
    }

$(document).ready(function () {
    $("#articlechgform").validate({
        rules: {
            praise_count: {
                required: true
            },
            view_count: {
                required: true
            }
        },
        messages: {
            praise_count: {
                required: "请输入点赞数"
            },
            view_count: {
                required: "请输入浏览数"
            }

        }
    })
})
</script>

<style rel="stylesheet">
.articlechgsave {
    margin-top: 50px;
    margin-left: 50px;
}

</style>


        <div class="container articlechgsave">
            <div class="row">
                <div class="col-md-8">
                    <form id="articlechgform" action="{% url 'mz_article:article_confchag' %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">
                        <input type="hidden" value="{{ page_index }}" name="page_index">
                        <div class="form-group">
                            <label for="articlepraise">点赞数</label>
                            <input type="text" class="form-control" id="articlepraise" name="praise_count" value="{{ articles.praise }}" placeholder="请输入要修改的点赞数">
                        </div>
                        <div class="form-group">
                            <label for="articleview">浏览数</label>
                            <input type="text" class="form-control" id="articleview" name="view_count" value="{{ articles.view }}" placeholder="请输入要修改的浏览数">
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-warning" onclick="goback()">返回</button>
                    </form>
                </div>
            </div>
        </div>
    <hr>
{% endblock %}