{% extends "index.html" %}
{% block pager %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript">
        /*-------------------------------------------------------BEGIN--------------------------------------------------------*/
        /*---------------提交form表单时，检查有无数据不合法的错误---------------*/
        function formDataCommitValidate() {
            var result = {};
            result.code = 0;
            result.errorInfo = '';
            GOLBAL_ERROR = [];  //  初始化验证数据合法性的全局变量
            textBoxValidate('.txt_vno', 50);
            textBoxValidate('.txt_desc');


            $.each(GOLBAL_ERROR, function (index, items) {
                result.code = items.status + result.code;
                if (items.status == -1) {
                    result.errorInfo = result.errorInfo + items.errorInfo + "\r";
                }
            });
            return result;
        }
        /*----------------------保存教师数据----------------------*/
        function saveIosVersion() {
            var result = formDataCommitValidate()
            if (result.code == 0) {
                form_iosVersionTitle.submit();
            } else {
                warningPrompt(result.errorInfo);
            }
        }
        function editIosVersion(id) {
            var url = "{% url 'mz_common:iosVersion_edit' %}?action=edit&id=" + encodeURI(id);
            window.location.href = url;
        }

        /*--------------------DOM加载完后执行----------------------*/
        $(function () {
            {% ifequal action "show" %}
                $('#iosVersionTitle').text('查看ios版本信息');
                $('.inputArea1').attr('disabled', true);
                $('.txt_isForce').val({{ iosVersion.is_force }});
                $('.txt_type').val({{ iosVersion.type }});
                $('.txt_isCheck').val({{ iosVersion.is_check }});
            {% endifequal %}
            {% ifequal action "add" %}
                $('#iosVersionTitle').text('添加ios版本信息');
            {% endifequal %}
            {% ifequal action "edit" %}
                $('#iosVersionTitle').text('修改ios版本信息');
                $('.txt_isForce').val({{ iosVersion.is_force }});
                $('.txt_isCheck').val({{ iosVersion.is_check }});
                $('.txt_type').val({{ iosVersion.type }});
            {% endifequal %}
        });
        /*-------------------------------------------------------END--------------------------------------------------------*/
    </script>
    <!--文章类型-->
    <div class="modal-dialog" role="document" style="background-color:#ffffff;width: 100%">
        {% csrf_token %}
        <div class="modal-header active">
            <h4 class="modal-title" id="iosVersionTitle">
            </h4>
        </div>
        <div class="container-fluid content">
            <div class="row-fluid">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" id="form_iosVersionTitle" method="post"
                          action="{% url 'mz_common:iosVersion_save' %}">
                        {% ifnotequal action "add" %}
                            <input type="hidden" name="id" value="{{ iosVersion.id }}">
                        {% endifnotequal %}
                        <input type="hidden" name="action" value="{{ action }}">
                        <div class="form-group">
                            <span class="notEmpty1" style="color: red">*</span>
                            <label>ios版本号:</label>
                            <input class="inputArea1 txt_vno form-control" placeholder="请输入ios版本号"
                                   name="vno" type="text" value="{{ iosVersion.vno }}">
                            </input>
                            <span class="inputAreaError"></span>
                        </div>
                        <div class="form-group">
                            <span class="notEmpty1" style="color: red">*</span>
                            <label>版本介绍:</label>
                            <textarea class="inputArea1 txt_desc form-control" name="desc" cols="50"
                                      rows="5">{{ iosVersion.desc }}</textarea>
                            <span class="inputAreaError"></span>
                        </div>
                        <div class="form-group">
                            <span class="notEmpty1" style="color: red">*</span>
                            <label>版本类型:</label>
                            <select class="inputArea1 txt_type form-control" name="type"
                                    type="text" value="{{ iosVersion.type }}">
                                <option value="1">学生端</option>
                                <option value="2">教师端</option>
                            </select>
                            <span class="inputAreaError"></span>
                        </div>
                        <div class="form-group">
                            <span class="notEmpty1" style="color: red">*</span>
                            <label>是否强制更新:</label>
                            <select class="inputArea1 txt_isForce form-control" name="is_force"
                                    type="text" value="{{ iosVersion.is_force }}">
                                <option value="0">不强制更新</option>
                                <option value="1">强制更新</option>
                            </select>
                            <span class="inputAreaError"></span>
                        </div>
                        <div class="form-group">
                            <span class="notEmpty1" style="color: red">*</span>
                            <label>审核状态:</label>
                            <select class="inputArea1 txt_isCheck form-control" name="is_check"
                                    type="text" value="{{ iosVersion.is_check }}">
                                <option value="1">审核中</option>
                                <option value="0">审核完毕</option>
                            </select>
                            <span class="inputAreaError"></span>
                        </div>
                        {% ifequal action 'show' %}
                            <div class="form-group">
                                <button type="button" onclick="editIosVersion({{ iosVersion.id }})" title="修改"
                                        class="btn btn-default btn-info btn-sm active">
                                    <span class="glyphicon glyphicon-edit" style="margin-right: 3px"></span>修改
                                </button>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <button type="button" onclick="saveIosVersion()" title="保存"
                                        class="btn btn-default btn-success btn-sm active">
                                    <span class="glyphicon glyphicon-edit" style="margin-right: 3px"></span>保存
                                </button>
                            </div>
                        {% endifequal %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
