<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>麦子学院服务承诺</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="baidu-site-verification" content="TlN38QiORE" />
<link href="/static/css/base.css?65435321144" rel="stylesheet">
<link href="/static/mz_lps3/css/style.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>
<body style="background: #f5f5f5;">
    <div style="line-height: 1.4;" class="freshers-container font14">
        <p>
            <b>一、教学内容</b><br><br>
            学员在保证正常的学习付出的前提下，企业直通班学习时间一般为3-4.5个月，根据专业不同而设定不同。学习过程中以达到对应岗位的企业要求为目标，会包含基础知识视频讲解、教师直播授课、日常在线答疑、项目制作等环节。<br><br>
            <b>二、教学过程</b><br><br>
            在企业直通班的学习过程中，每周至少有1-2堂直播课。授课的主要内容是根据当周的任务球内容以及学生的学习进度，进行重难点讲解、项目经验分享、集中答疑、项目实战等内容的教学。<br>
            在同学的日常学习过程中，教师通过班级QQ群，进行一对多、一对一的答疑，使学生能够及时获得教师的专业指导，保证学习进度和学习效果。<br>
            学生在开班后一个月内，遵守各项学生守则并达到指定完成度的前提下，可以通过补足学费差额，申请从兴趣学习转为就业保障；申请通过后，补签就业保障协议。<br><br>
            <b>三、师资配备</b><br><br>
            每个企业直通班由专业带班教师至少1人，班主任1人，就业指导老师1人。根据班级人数规模，还会选择性配备助教老师，以保证学员答疑的及时性。<br>
            带班教师：主要负责直播课教学、作业批改、学生答疑等服务<br>
            班主任：主要负责学员日常督促与管理，沟通协调教师和学员间的时间与进度。<br>
            就业指导老师：主要负责有就业要求的同学的就业推荐服务、就业技能提升等课程内容。<br>
            助教老师：在带班教师时间不足的情况下，负责批改作业或者在线答疑工作。<br><br>
            <b>四、毕业标准</b><br><br>
            对于兴趣学习的同学，我们的毕业标准和就业班的标准是相同的。学员需要达到规定的出勤率和作业提交的完成度后，完成毕业设计项目并通过毕业设计答辩，才有资格获得麦子学院的毕业认证。<br>
            对于兴趣学习的同学，因为个人原因无法付出足够的学习时间，或者跟不上正常的教学进度，我们在教学管理过程中可以增加一次滑班的机会。<br><br>
            <b>五、投诉与举报</b><br><br>
            为了给予学员更好地服务体验与教学质量，欢迎学员对我们的服务各个环节给予监督和考察。对于影响学生学习效果和体验的任何情况，可以直接通过下面的联系方式进行建议与举报，我们会在第一时间给予处理及反馈：<br><br>
            邮箱：caliber@maiziedu.com &nbsp;&nbsp;chanpinyanfa@maiziedu.com<br>
            QQ：130313399<br>
            电话：400-862-8862<br>
        </p>
    </div>
</body>
</html>