<ul>
<a href="/test/">
    <li>
        <div class="avater_info">
            <img src="" alt="李元峰">
            <p>学员李元峰</p>
        </div>
        <div class="content">
            <i></i>
            <p class="txt">
                2014年麦可网完成千万级A轮融资，并更名为”麦子学院“，同时通过“麦子圈”IT职业实名社交圈——提供包括企业招聘对接，猎头，项目外包，经验分享2014年麦可网完成千万级A轮融资，并更名为”麦子学院“，同时通过“麦</p>
        </div>
        <p class="relate_info">2016年12月5日 12:12 提问于 <a href="/" class="link">JavaScript简介05‘51’‘(Hover效果)</a></p>
    </li>
    </a>
    <li>
        <div class="avater_info">
            <img src="" alt="李元峰">
            <p>学员李元峰</p>
        </div>
        <div class="content">
            <i></i>
            <p class="txt">
                2014年麦可网完成千万级A轮融资，并更名为”麦子学院“，同时通过“麦子圈”IT职业实名社交圈——提供包括企业招聘对接，猎头，项目外包，经验分享2014年麦可网完成千万级A轮融资，并更名为”麦子学院“，同时通过“麦</p>
        </div>
        <p class="relate_info">2016年12月5日 12:12 提问于 <span>阶段一：基础阶段HTML+CSS基础入门</span></p>
    </li>
</ul>