{% extends "mz_common/global.html" %}
{% block title %}{{ seo.seo_title }}{% endblock %}
{% block keywords %}{{ seo.seo_keyword }}{% endblock %}
{% block description %}{{ seo.seo_description }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/css/userCenter.css">
<link rel="stylesheet" type="text/css" href="/2016//lib/layer/skin/layer.css">
<link rel="stylesheet" type="text/css" href="/2016/lib/Jcrop/jquery.Jcrop.min.css">
{% endblock %}
{% block csstype %}userCenter{% endblock %}
{% block container %}
    {% include 'header/index_header.html' %}
    {% include 'mz_usercenter/div_user_header.html' %}
    <div class="center personalCmain">
        {% block usercenter_left_panel %}
            {% include 'mz_usercenter/div_left_menu.html' %}
        {% endblock %}
        {% block usercenter_right_panel %}{% endblock %}
    </div>
    {% block usercenter_extend_div %}{% endblock %}
{% endblock %}
{% block footer %}{% endblock %}
{% block custom_script %}
<script type="text/javascript">var time = "{{ birthday }}", is_join_job_class = "{{ is_join_job_class }}"</script>
<script type="text/javascript" src="/2016/lib/Jcrop/jquery.Jcrop.js"></script>
<script type="text/javascript" src="/2016/lib/layer/layer.js"></script>
<script type="text/javascript" src="/2016/lib/Validform/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/2016/lib/jquery/uiwidget.min.js"></script>
<script type="text/javascript" src="/2016/lib/jquery/fileupload.min.js"></script>
<script type="text/javascript" src="/2016/lib/jquery/function.js"></script>
<script type="text/javascript" src="/2016/src/common.js?v={{ time_stamp }}"></script>
<script type="text/javascript" src="/2016/src/captcha.js?v={{ time_stamp }}"></script>
<script type="text/javascript" src="/2016/src/personalCenterSbasic.js?v={{ time_stamp }}"></script>
{% endblock %}