{% extends "mz_common/global.html" %}
{% block title %}嵌入式Linux开发金牌讲师-Linux培训-麦子学院{% endblock %}
{% block keywords%}Linux，Linux开发，Linux培训，Linux学习{% endblock %}
{% block description%}嵌入式Linux开发金牌讲师—王海宁，9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。{% endblock %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/css/teacherIntroduce.css?v={{ time_stamp }}"/>
{% endblock %}
{% block indexhead %}{% endblock %}

{% block container %}
{% include 'header/header.html' %}
<div class="addTeacher_container">
    <div class="addTeacher_banner">
        <div class="teacher">
            <span class="image"><a href="/u/4/" target="_blank"><img src="http://www.maiziedu.com/pages/ad04/images4/whn.png" alt="嵌入式Linux开发金牌讲师"/></a></span>
            <strong>王海宁</strong>
            <span>嵌入式Linux开发金牌讲师</span>
            <p>9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。</p>
            <a href="{% url 'course:course_detail' 'qrs' %}" target="_blank">报名TA的课程</a>
        </div>
    </div>
	<div class="info">
        <ul>
            <li>带班数<strong>9</strong></li>
            <li>累积毕业人数<strong>270</strong></li>
            <li>就业率<strong>95<span>%</span></strong></li>
        </ul>
    </div>
    <div class="works">
        <h3>讲师作品</h3>
        <div class="works_bxslider">
            <div class="teach_bxslider">
                <ul>
                    <li>
                        <p><img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroduceLinuxTea1.png"/></p>
                        <div class="text"><strong>机顶盒</strong><!--<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>--></div>
                    </li>
                    <li>
                        <p><img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroduceLinuxTea2.png"/></p>
                        <div class="text"><strong>远程下载路由器</strong><!--<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>--></div>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
            <span class="pageState"></span>
        </div>
    </div>
    <div class="experience">
        <h3>讲师经历</h3>
        <ul>
                <li>
                    <span>2014</span>
                    <div class="infos">
                        <strong>麦子学院</strong>
                        <p>麦子学院嵌入式Linux专业负责人，麦子学院教学部经理；凭借多年开发经验和教育培训经验，对嵌入式物联网领域具有前瞻性理解，设计的课程体系紧密结合目前企业需求和社会热点。授课实战性强，深入浅出，晦涩难懂的知识点能够被老师讲解的清晰明了。并能够将企业团队开发模式带入课堂，深受广大学员的喜爱</p>
                    </div>
                </li>
                <li>
                    <span>2010</span>
                    <div class="infos">
                        <strong>华清远见</strong>
                        <p>负责嵌入式Linux下的网络高级编程，基础语言及数据结构教学，担任ARM体系结构及接口编程，Linux系统移植及Linux驱动开发课程教学，承担android系统移植及驱动开发课程授课，所受课程深受广大的学生的喜爱，培养了百余名嵌入式相关人才。</p>
                        <em>参与项目</em>
                        <p>《家庭智能安防系统》、《智能仓库管理系统》</p>
                    </div>
                </li>
                <li>
                    <span>2007</span>
                    <div class="infos">
                        <strong>四川长虹北京电信研究院</strong>
                        <p>负责智能电视、远程下载路由器及高清播放器的项目研发及管理工作，负责北京电信研究院的三网合一家庭网关项目，有着丰富的嵌入式物联网开发经验，有严格的编码及大型项目管理经验。</p>
                        <em>参与项目</em>
                        <p>《智能互联网电视》、《远程下载路由器》、《高清播放器》、《智能家庭网关A200》</p>
                    </div>
                </li>
        </ul>
    </div>
    <dl class="sendWord">
        <dt><img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroduceLinuxTea.jpg" alt="讲师寄语"/></dt>
        <dd>
            <h3>讲师寄语</h3>
            <p>师者，传道受业解惑也。IT行业是个日星月异的行业，经验丰富的讲师不仅会教会学生技术，还会带你全面认识这个行业。我们会根据学生的特点制定更加符合他们自身的学习计划。我们可以更加多元化的和学生沟通，把我们的经验和知识分享给他们。在未来因材施教是完全可以被实现的。而我们就是实现这个想法的人。</p>
            <a href="{% url 'course:course_detail' 'qrs' %}" target="_blank">报名TA的课程</a>
        </dd>
    </dl>
    <div class="stu_works">
        <h3>学生作品</h3>
        <div class="student_bxslider">
            <div class="stu_bxslider">
                <ul>
                    <li>
                        <img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroduceLinuxStu.png"/>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
            <span class="pageState"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer/footer_1.html' %}
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="/2016/src/common.js?v={{ time_stamp }}"></script>
    <script type="text/javascript" src="/2016/lib/superSlider/jquery.SuperSlide.2.1.1.js?v={{ time_stamp }}"></script>
    <script type="text/javascript" src="/2016/src/teacherIntroduce.js?v={{ time_stamp }}"></script>
{% endblock %}