{% extends "mz_common/global.html" %}
{% block title %}python开发金牌讲师-python培训-麦子学院{% endblock %}
{% block keywords%}Python，python开发，python学习，python培训，python爬虫学习{% endblock %}
{% block description%}麦子学院python开发金牌讲师—胡明星老师，拥有10余年Web开发经验，参与过会员营销、财务管理、游戏管理等三十余个大中型Web项目的设计与研发，项目体验人数超过千万，所教授学员超过千余人，有着丰富的python开发及教学经验，善于结合工作、生活中的实际案例, 通过层层引导和深入浅出的方式加深学生对知识点的认识和理解。{% endblock %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/css/teacherIntroduce.css?v={{ time_stamp }}"/>
{% endblock %}
{% block indexhead %}{% endblock %}

{% block container %}
{% include 'header/header.html' %}
<div class="addTeacher_container">
    <div class="addTeacher_banner">
        <div class="teacher">
            <span class="image"><a href="/u/3472/" target="_blank"><img src="http://www.maiziedu.com/uploads/avatar/2015/05/yopoing_middle.jpg" alt="Python Web老师"/></a></span>
            <strong>胡明星</strong>
            <span>Python Web老师</span>
            <p>10余年Web开发经验，曾担任国内某在线教育平台研发经理一职，参与过会员营销、财务管理、游戏管理等三十余个大中型Web项目的设计与研发，项目体验人数超过千万，所教授学员超过千余人。<br/>负责过的项目：高新人才网，国信安基地网站，国信安百杰网站等。</p>
            <a href="{% url 'course:course_detail' 'python' %}" target="_blank">报名TA的课程</a>
        </div>
    </div>
	<div class="info">
        <ul>
            <li>带班数<strong>11</strong></li>
            <li>累积毕业人数<strong>420</strong></li>
            <li>就业率<strong>97<span>%</span></strong></li>
        </ul>
    </div>
    <div class="works">
        <h3>讲师作品</h3>
        <div class="works_bxslider">
            <div class="teach_bxslider">
                <ul>
                    <li>
                        <p><img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroducePythonTea1.jpg" alt="作品1"/></p>
                        <div class="text"><strong>作品1</strong><!--<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>--></div>
                    </li>
                    <li>
                        <p><img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroducePythonTea2.jpg" alt="作品2"/></p>
                        <div class="text"><strong>作品2</strong><!--<span>国内第一套全面覆盖美术基础课程体系的原画职业课</span>--></div>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
            <span class="pageState"></span>
        </div>
    </div>
    <div class="experience">
        <h3>讲师经历</h3>
        <ul>
            <li>
                <span>2015</span>
                <div class="infos">
                    <strong>麦子学院</strong>
                    <p>Python Web应用开发课程总监 。凭借多年开发经验、对Python Web开发领域的前瞻性理解和丰富的教学经验，从基础知识到项目实战研发，深入浅出让零基础学员也能成为Web开发大牛。</p>
                   <!-- <em>参与项目</em>
                    <p>高新人才网，国信安基地网站，国信安百杰网站</p>-->
                </div>
            </li><li>
                <span>2013</span>
                <div class="infos">
                    <strong>重庆盛高网络科技发展有限公司</strong>
                    <p>高级项目经理。负责公司游戏三大业务系统的整体设计和开发管理。基于丰富的专业知识和高超的实践能力，在开发工作的同时，进行内部员工技术指导与培训。对python web开发以及培训技巧有着深入研究。</p>
                    <em>参与项目</em>
                    <p>《前台会员系统》、《财务管理系统》、《游戏管理系统》</p>
                </div>
            </li>
            <li>
                <span>2011</span>
                <div class="infos">
                    <strong>国家信息安全成果产业化（四川）基地</strong>
                    <p>Python web开发经理。编写公司TA框架和Oracle数据库的技术教程，并参与该公司的学云网研发组织工作，带领研发团队进行该网站的研发工作。对python web开发技巧和项目管理技巧有着深刻体验和深入研究。</p>
                    <em>参与项目</em>
                    <p>《高新人才网》，《国信安基地网站》，《国信安百杰网站》</p>
                </div>
            </li>

        </ul>
    </div>
    <dl class="sendWord">
        <dt><img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroducePythonImg.jpg" alt="讲师寄语"/></dt>
        <dd>
            <h3>讲师寄语</h3>
            <p>好的学习过程就像在谈恋爱，兴趣是学习的荷尔蒙，而成就感就是学习的保鲜剂。来麦子学python，教你和Python来一场轰轰烈烈的恋爱，在这里，你能学到的不仅仅是一个结果，更重要的是，你还能养成好的学习习惯以及解决问题的思路和方法。大牛，其实离你不远。</p>
            <a href="{% url 'course:course_detail' 'python' %}" target="_blank">报名TA的课程</a>
        </dd>
    </dl>
    <div class="stu_works">
        <h3>学生作品</h3>
        <div class="student_bxslider">
            <div class="stu_bxslider">
                <ul>
                    <li>
                        <img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroducePythonStu1.jpg" alt="学生作品"/>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroducePythonStu2.jpg" alt="学生作品"/>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/teacherIntroduce/teacherIntroducePythonStu3.jpg" alt="学生作品"/>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
            <span class="pageState"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}
{% include 'footer/footer_1.html' %}
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="/2016/src/common.js?v={{ time_stamp }}"></script>
    <script type="text/javascript" src="/2016/lib/superSlider/jquery.SuperSlide.2.1.1.js?v={{ time_stamp }}"></script>
    <script type="text/javascript" src="/2016/src/teacherIntroduce.js?v={{ time_stamp }}"></script>
{% endblock %}