{% extends "mz_common/base.html" %}
{% block title %}意见反馈-麦子学院_专业的IT在线职业教育平台{% endblock %}
{% block keywords%}IT自学APP，IT在线学习APP，麦子学院APP{% endblock %}
{% block description%}麦子学院官方APP是IT在线学习移动端工具，不仅可以免费观看Android开发、iOS开发视频教程，还能离线缓存自定义章节，是您IT在线学习的好帮手！{% endblock %}
{% block custom_css %}
    <link href="/static/aboutus/Content/style.css" rel="stylesheet">
{% endblock %}
{% block container %}
<div class="microoh-main" style="padding-top:0px;">
	<div class="container">
		<ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">联系我们</li>
        </ol>
        <div id="tab">
	        <div id="left-bar">
				<ul>
                    <li class="buttom-border"><a href="/common/about"><span class="cn">关于我们</span><span class="en">About us</span></a></li>
                    <li class="buttom-border"><a href="/common/join"><span class="cn">加入我们</span><span class="en">Join us</span></a></li>
                    <li class="buttom-border"><a href="/common/contact"><span class="cn">联系我们</span><span class="en">Contacts</span></a></li>
                    <li class="buttom-border cur"><a href="/common/feedback/"><span class="cn">意见反馈</span><span class="en">Feedback</span></a></li>
				</ul>
			</div>
            <div class="tabCon" style="width:870px;">
                <div class="zy_list_tit">
                    <span>
                        <a class="aH">大家的反馈</a>
                        <a>我的反馈</a>
                    </span>
                    <a class="goFK" href="/common/feedbackform/">我要反馈</a>
                </div>
                <div class="tabFeedback">
                    <div class="cur">
                        <div class="no-feedback">暂无反馈</div>
                        <ul class="zy_list_ul">
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/6982" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/15_samll.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/6982" target="_blank">
                                            <font class="color66">15251815207</font>
                                        </a>
                                        <span> 4个月前 </span>
                                    </p>
                                    <div><p><img src="/uploads/Feedback/2016/03/blob_20160304114034_530.png" title="" alt="blob.png"/>看到这里是不是就能继续往下看了？</p></div>
                                    <ul class="zy_list_ul2">
                                        <li>
                                            <div class="zy_list_ul_img">
                                                <a href="/common/dynmsg/47118" target="_blank">
                                                    <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                                </a>
                                            </div>
                                            <div class="zy_list_ul_font2">
                                                <p class="pt font12"><font class="color66">小麦</font>回复：<span>4个月前</span></p>
                                                <div><p>你好，播放列表有个滚动条，可能网速问题没加载出来，再刷新页面试试。</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/85980" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/3_samll.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/85980" target="_blank">
                                            <font class="color66">追忆逝水年华</font>
                                        </a>
                                        <span> 4个月前 </span>
                                    </p>
                                    <div><p>朱老师，码代码的速度可不可以快一点，太慢了！谢谢……</p></div>
                                    <ul class="zy_list_ul2">
                                        <li>
                                            <div class="zy_list_ul_img">
                                                <a href="/common/dynmsg/47118" target="_blank">
                                                    <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                                </a>
                                            </div>
                                            <div class="zy_list_ul_font2">
                                                <p class="pt font12"><font class="color66">小麦</font>回复：
                                                    <span> 4个月前</span>
                                                </p>
                                                <div><p>同学，可以倍速播放哦～</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/94415" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/15_samll.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/94415" target="_blank">
                                            <font class="color66">2399961615</font>
                                        </a>
                                        <span> 4个月前 </span>
                                    </p>
                                    <div><p><a href="http://www.maiziedu.com/course/others/627-9608/" _src="http://www.maiziedu.com/course/others/627-9608/">http://www.maiziedu.com/course/others/627-9608/</a> </p><p>这门课程的十九课二十课和二十一课都打不开。谷歌浏览器，别的小节打开都没有问题。<br/></p></div>
                                    <ul class="zy_list_ul2">
                                        <li>
                                            <div class="zy_list_ul_img">
                                                <a href="/common/dynmsg/47118" target="_blank">
                                                    <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                                </a>
                                            </div>
                                            <div class="zy_list_ul_font2">
                                                <p class="pt font12"><font class="color66">小麦</font>回复：
                                                    <span>4个月前</span>
                                                </p>
                                                <div><p>感谢反馈，已经恢复正常！</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/47118" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/47118" target="_blank">
                                            <font class="color66">岑颖茵</font>
                                        </a>
                                        <span> 5个月前 </span>
                                    </p>
                                    <div><p>产品经理课程-第五阶段：选修课程-热门产品分析-手机滴入热门APP产品分析 &nbsp; &nbsp;出现500错误，视频看不了，快点修复吧!</p></div>
                                    <ul class="zy_list_ul2">
                                        <li>
                                            <div class="zy_list_ul_img">
                                                <a href="/common/dynmsg/47118" target="_blank">
                                                    <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                                </a>
                                            </div>
                                            <div class="zy_list_ul_font2">
                                                <p class="pt font12"><font class="color66">小麦</font>回复：
                                                    <span>5个月前</span>
                                                </p>
                                                <div><p>感谢反馈，昨天下午已经修复。</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/63958" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/2_samll.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/63958" target="_blank">
                                            <font class="color66">王小二</font>
                                        </a>
                                        <span> 5个月前 </span>
                                    </p>
                                    <div><p>麦子学院ipad版大概什么时候会上线？</p></div>
                                    <ul class="zy_list_ul2">
                                        <li>
                                            <div class="zy_list_ul_img">
                                                <a href="/common/dynmsg/47118" target="_blank">
                                                    <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                                </a>
                                            </div>
                                            <div class="zy_list_ul_font2">
                                                <p class="pt font12"><font class="color66">小麦</font>回复：
                                                    <span>5个月前</span>
                                                </p>
                                                <div><p>感谢反馈，已经在计划中！</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        {% include 'mz_common/feedback_page.html' %}
                    </div>
                    <div>
                        <div class="no-feedback">暂无反馈</div>
                        <ul class="zy_list_ul">
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/47118" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/47118" target="_blank">
                                            <font class="color66">岑颖茵</font>
                                        </a>
                                        <span> 5个月前 </span>
                                    </p>
                                    <div><p>产品经理课程-第五阶段：选修课程-热门产品分析-手机滴入热门APP产品分析 &nbsp; &nbsp;出现500错误，视频看不了，快点修复吧!</p></div>
                                    <ul class="zy_list_ul2">
                                        <li>
                                            <div class="zy_list_ul_img">
                                                <a href="/common/dynmsg/47118" target="_blank">
                                                    <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                                </a>
                                            </div>
                                            <div class="zy_list_ul_font2">
                                                <p class="pt font12"><font class="color66">小麦</font>回复：
                                                    <span>5个月前</span>
                                                </p>
                                                <div><p>感谢反馈，昨天下午已经修复。</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="zy_list_ul_img">
                                    <a href="/common/dynmsg/47118" target="_blank">
                                        <img src="http://www.142.com/uploads/avatar/2015/09/07184c2c-552c-11e5-9b7b-00163e02100b_small.jpg">
                                    </a>
                                </div>
                                <div class="zy_list_ul_font">
                                    <p class="pt font12">
                                        <a href="/common/dynmsg/47118" target="_blank">
                                            <font class="color66">岑颖茵</font>
                                        </a>
                                        <span> 5个月前 </span>
                                    </p>
                                    <div><p>产品经理课程-第五阶段：选修课程-热门产品分析-手机滴入热门APP产品分析 &nbsp; &nbsp;出现500错误，视频看不了，快点修复吧!</p></div>
                                </div>
                            </li>
                        </ul>
                        {% include 'mz_common/feedback_page.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="footers" style="margin-bottom:50px;"></div>
    </div>
</div>
    <script>
        $(function(){
            $(".zy_list_tit>span>a").click(function(){
                $(this).addClass("aH").siblings().removeClass("aH");
                $(".tabFeedback>div").eq($(this).index()).addClass("cur").siblings().removeClass("cur");
            });
        });
    </script>
{% endblock %}
{% block footer%}
{% include 'footer/footer_1.html' %}
{% endblock %}