<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iOS培训配导师保就业_麦子学院</title>
<meta name="keywords" content="ios培训,ios开发,ios工程师" />
<meta name="description" content="麦子学院ios开发工程师培训，7天免费试学，硅谷名师在线辅导、项目实战协同开发、学完考核推荐就业" />
<link href="http://old.maiziedu.com/ios/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://old.maiziedu.com/ios/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="http://old.maiziedu.com/ios/js/script.js"></script>
<script>
<!-- 百度统计代码 -->
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?e3879546912fd4b2d6e909e064d49262";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- GoogleAnalytics代码 -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61416428-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
{#  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
{##}
{#  ga('create', 'UA-61416428-1', 'auto');#}
{#  ga('send', 'pageview');#}

</script>
<!-- GoogleAnalytics代码结束 -->
</head>
<body>
<div id="front">
	<div id="header">
		<div id="logo"><a href="http://www.maiziedu.com"><img src="http://old.maiziedu.com/ios/images/logo.jpg"></a></div>
		<div id="menu"><ul><li><a href="http://www.maiziedu.com/">首页</a></li><li><a href="http://www.maiziedu.com/career-course-list">职业课程</a></li><li><a href="http://www.maiziedu.com/courses-list">自学课程</a></li><li><a href="http://www.maiziedu.com/about">关于我们</a></li></ul></div>
	</div>
	<div id="banner">
		<div class="btm" id="free_buttom"></div>
<!-- 		<div id="banner_pic">
			<div id="inner_banner"></div>
		</div> -->
	</div>
	<div id="webtime"></div>
	<div id="px">
		<div id="now_zx" class="btm"></div>
	</div>
	<div id="ios8"></div>
	<div id="lear">
		<div id="lear_left" class="btm" id="lijishixue">
			<span><a class="btm">立即试学</a></span>
		</div>
		<div id="lear_right">
			<span><a class="btm">没错，现在报名即可享受7天免费试学！</a></span>
		</div>
		<div style="clear:both"></div>
	</div>
	<div id="teach">
		<div id="teach_list"></div>
	</div>
	<div class="colors"><div id="students"></div></div>
	<div id="seven_div">
		<div id="seven">
		<div id="s_btm_l" class="btm" id="mianfeishixue"><span><a>免费试学</a></span></div>
		<div id="s_btm_r" class="btm" id="lijizixun"><span><a>立即咨询</a></span></div>	
		</div>
	</div>

  
  <div id="footer-1">
	  <p style="height:10px;">&nbsp;</p>
      <p align="center" style="margin-top:10px; font-size:12px; color:#4d4d4d;">© 2012-2014  maiziedu.com | 服务条款 | 蜀ICP备13014270号-4  Version 4.0.1 release20140721.1</p>
      <div style="margin:10px auto; width:370px; height:50px;">
           <div class="xlwb">
           <span style="margin-left:35px;"><a href="http://weibo.com/microoh" target="_blank" rel="nofollow">官方微博</a></span>                   
           </div>
		   <div class="wxsm">
           <span style="margin-left:35px;"><a href="http://old.maiziedu.com/ios/images/qrcode.jpg" target="_blank">官方微信</a></span>                   
           </div>
		   <div class="txwb">
           <span style="margin-left:35px;"><a href="http://t.qq.com/microoh" target="_blank" rel="nofollow">官方说说</a></span>                   
           </div>
   </div>
 </div>
</div>
</body>
</html>

<!-- temp -->
<script language="javascript" src="http://chat10.live800.com/live800/chatClient/floatButton.js?jid=2057226289&companyID=430494&configID=219065&codeType=custom"></script>
<script language="javascript" src="http://chat10.live800.com/live800/chatClient/monitor.js?jid=2057226289&companyID=430494&configID=219055&codeType=custom"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-51873363-14']);
 _gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>