<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>麦子学院入学须知</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="baidu-site-verification" content="TlN38QiORE" />
<link href="/static/css/base.css?65435321144" rel="stylesheet">
<link href="/static/mz_lps3/css/style.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>
<body style="background: #f5f5f5;">
    <div style="line-height: 1.4;" class="freshers-container font14">
    <p>亲爱的同学:<br><br>
您好 ，欢迎您加入麦子学院学习大家庭 ，为了更好的了解我们服务的细则，做到超越传统学习效果，在线学习找工作，请仔细阅读本文。<br><br>
<b>一、班级服务人员及职责</b><br><br>
学员根据问题类型找到相应解决人员。<br>
1、督导老师---负责学员LPS学习管理和督促；教学协调与监督工作，解决学员的非专业课程类的问题；<br>
2、专业老师---负责学员提出的相关课程类技术问题解答，批改作业，直播课讲解课程和专业问题答疑；<br>

<b>二、入学须知</b><br><br>
1、付款成功后，麦子账号为邮箱地址可收到邮件提醒学员报名的专业和专业老师QQ；<br>
2、学员付完全部学费后，督导老师会根据学员要求邮寄纸质版《麦子学院就业服务协议》。<br>

<b>三、学习须知</b><br><br>
1、在线教学模式分为两个环节：课程内容学习、和一对一的教学辅导，这两个环节是同步进行、相互配合开展;<br>
（一）课程内容：把课程相关知识录制成视频，方便学员随时随地的多次重复学习（比方说碎片式的空闲时间），并支持手机APP线下离线和缓冲观看；<br>
（二）一对一的教学辅导：学员享受共计3000分钟以上的1v1辅导学习计划、课程内容答疑辅导、课程内容考核。<br>
专业老师随时把控学员学习进度，学员根据自己执行老师布置的计划情况预约直播指导，反馈问题接收老师针对性的学习指导服务，解答疑问，并进行模拟面试，督导老师督促学习学习进度，处理学员问题，真正实现的1v1教学服务。<br><br>
2、专业老师会根据学员的进度和学习情况布置对应的作业或项目制作，老师会对学员学习的内容进行分析评估，也会随时了解学员学习过程中遇到的问题。在LPS系统里，学员只有学习通过了每堂视频的作业或项目制作，才能进入到下一个阶段学习，保障学员的学习效果。<br><br>


<b>四、就业服务相关</b><br><br>
就业学员详情见《麦子学院就业服务协议》，非就业学员详情见《服务承诺》<br>


<b>五、学习提醒</b><br><br>
（一）如果因不可抗因素导致暂时不能学习，可以跟督导老师申请休学处理，这样不会影响你的学习评定；<br><br>
关于学习休学:由学员主动向督导老师提出申请，由督导老师老师办理休学；每位学员只有两次休学机会，每次休学时间须大于15天，总计休学时间不得超过2个月，超过2个月休学会影响就业（详见就业协议）。<br><br>
（二）如果入学后发现专业不合适，可以跟带班老师申请转专业。由督导老师核实办理。付款入学后30个自然日（备注：即30天）可申请调换专业；<br><br>
1、超过规定日期，一律不再允许调换专业；<br><br>
2、每位学员账号只有一次免费更换专业机会；<br><br>
由于专业老师要做专业指导，学员不能转让账号供给他人学习，一经发现，将停止该账号教学和就业等相关服务。<br><br>

（三）关于学员管理<br><br>

1、学员由督导进行管理和非教学的问题解决和沟通；<br>
2、学员必须按照专业教师量身定制的教学计划学习，进度过慢会影响毕业结果和就业；<br>
3、因个人原因1v1学习时间不到3000分钟，不予退费；<br>
4、失联（督导通过各种方式联系不到）三周以上，视为学员自动放弃学习。<br><br>

（四）关于退学（开除）：<br>
1、自动放弃学习，一切费用均不予退还；<br>
2、恶意欠费学员；<br>
3、学员恶意诋毁、辱骂麦子学院或老师行为，一经核实，予以退学处理；<br>
4、其他涉及触犯法律的学员。<br><br>

　　　　　　　　　　　　　　　　　　　　　　　　　　感谢您选择麦子学院，在线职业教育 未来 我来<br><br><br>
    </p>

    </div>
</body>
</html>