<div class="modal fade YaHei" id="perfectMyResume" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 740px;">
        <div class="modal-content">
            <a class="close"></a>
            <div class="perfect-my-resume">
                <p><img src="/images/resume/resumeImg01.png" alt="速速完善我的简历"/></p>
                <strong>越早完善你的简历，就业机会越多哦！</strong>
                <a href="{% url 'home:student:resume_info' %}" target="_blank">速速完善我的简历</a>
            </div>
        </div>
    </div>
</div>