<div class="modal fade YaHei" id="appointment-step" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 540px;">
        <div class="modal-content">
            <a class="close"></a>
            <h3>加油，还差最后一步，你就预约成功了！</h3>
            <div class="write">
                <a href="javascript:;" class="file">
                    <input type="hidden" class="QRurl" name="image" value="">
                    <img src="" alt="up"/>
                    <span>上传图片</span>
                    <input type="file" id="picUpload2" name="image" accept="images/*">
                </a>
                <div class="textarea">
                    <textarea name="txt" id="" placeholder="请先录入你需要解决的问题，以便于导师（不能少于15字）"></textarea>
                </div>
                <input type="button" class="submitBtn disabled" value="确认提交" disabled>
            </div>
        </div>
    </div>
</div>