<div class="modal fade YaHei" id="qqGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 584px;">
        <div class="modal-content">
            <a class="close"></a>
            <dl>
                <dd>
                    <p>亲爱的同学：<br/>为了提供给你更好的学习交流环境，请添加课程导师的QQ号吧！</p>
                    <div class="txtCen">
                        <span>QQ号：{{ teacher.qq }}</span>
                        <em>注：加QQ时请提供你的真实姓名！</em>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin={{ teacher.qq }}&site=qq&menu=yes" target="_blank">一键加QQ</a>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>