<div class="modal fade YaHei" id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 540px;">
        <div class="modal-content">
            <a class="close"></a>
            <h3>确认将扣除你的1V1直播使用次数</h3>
            <div class="appointment-form">
                <input type="text" placeholder="输入你的手机号" name="phone-num" id="phone-num" class="phone-num" value="{{ user.mobile }}"/>
                <div class="verification-box">
                    <input type="text" placeholder="输入短信验证码" name="verification" id="verification" class="verification"/>
                    <input type="button" value="获取验证码" class="send-verif"/>
                </div> 
                <p class="time">你还剩余<span> {{ residue_count }} </span>次</p>
                <a class="confirm-use" {% if residue_count == 0 %}disabled{% endif %}>确认使用</a>
            </div>
        </div>
    </div>
</div>