@import 'core/reset';
@import 'core/common';
@import 'core/var';
@import 'core/function';
@import 'header';
@import 'toolbar';
.join-us {
	.microoh-main {
		background-color: #f5f5f5;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
		width: 1160px;
	}
	.head-container {
		border-bottom: 1px solid #ddd;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	}
	.breadcrumb {
		margin-bottom: 0;
		padding: 20px 0;
		border-radius: 2px;
		list-style: outside none none;
		font-size: 14px;
		color: #81918e;
		a {
			text-decoration: none;
			color: #81918e;
		}
		& > li {
			display: inline-block;
		}
		& > li + li:before {
			color: #ccc;
			content: ">";
			padding: 0 5px;
		}
	}
	#left-bar {
	    width: 260px;
	    outline: 1px #e2e2e2 solid;
	    float: left;
		li {
			cursor: pointer;
			height: 49px;
			list-style-type: none;
			padding-left: 40px;
			color: #81918e;
			font-size: 16px;
			font-weight: bold;
			a {
				color: #81918e;
			}
			span {
				display: block;
			}
		}
		.cur a {
			color: #5ecfba;
		}
	}
	.buttom-border {
		border-bottom: 1px #e2e2e2 solid;
	}

	.en {
		font-size: 12px;
	}
	.cn {
		margin-top: 15px;
	}
	#p1, #p2, #p3 {
		font-size: 14px;
		color: #323232;
	}

	#tab .tabCon {
		float: left;
        position: relative;
		padding-left: 30px;
		div.cur {
			display: block;
			filter: alpha(opacity=100);
		}
		div {
			h2 {
				padding-top: 20px;
				color: #5ecfba;
				font-size: 30px;
			}
			h3 {
				color: #323232;
				padding-bottom: 10px;
				font-size: 24px;
			}
		}
	}
	.line {
		margin-top: 50px;
		display: block;
		p {
			line-height: 20px;
		}
	}
	.ad { 
		width: 840px; 
		height: 77px; 
		display: block; 
	}
	.buttons {
		padding-top: 60px;
		padding-bottom: 50px;
		li {
			float: left;
			width: 110px;
			height: 40px;
			border: 1px solid #5ecfba;
			list-style-type: none;
			text-align: center;
			line-height: 40px;
			margin-right: 10px;
			color: #5ecfba;
			&:hover {
				background: #5ecfba;
				a {
					color: #ffffff;
				}
			}
		}
	}
}

@import 'footer';
