{% extends 'home.html' %}
{% load staticfiles %}
{% block link %}
  <script type="text/javascript" src="{% static "lib/pekeUpload-master/js/pekeUpload.js" %}"></script>
  <script type = 'text/javascript' src = "{% static 'js/career/author.js' %}"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $("#file").pekeUpload({
              "btnText": "请选择文件",
              "url": "/upload/",
              "allowedExtensions":"png",
              "invalidExtError":"文件格式不正确",
              "bootstrap":true,
              "delfiletext":"移除",
              "showPreview":false,
              "limit":1,
              "limitError":"只能上传一个文件",
              "onFileError": function (file, error) {
                  console.log(error);
              },
              "onFileSuccess":function (file, data) {
                  console.log(data);
                  if(data.code == true)
                  {
                      $("#txtFileName").val(data.file_name);
                      $("#txtExtension").val(data.extension);
                  }
              }
          });
      });
  </script>
{% endblock %}

{% block content %}
<form id="form1" name="form1">
<div class="op_panel">

    <div class="table-responsive">

    <table class="table table-bordered ">
      <tr>
          <td class="td_content" style="display:None">
              <input type="text" id="author_id" class="form-control borderSize mw" value="{{ author.id }}" >
          </td>
      </tr>

      <tr>
          <td class="td_name">作者姓名： </td>
          <td class="td_content">
              <input type="text" id="author_name" class="form-control borderSize mw" value="{{ author.name }}">
          </td>
          <td class="td_remark">必填，作者姓名
          </td>
      </tr>

      <tr>
          <td class="td_name">作者简介 </td>
          <td class="td_content">
              <input type="text" id="author_info" class="form-control borderSize mw" value="{{ author.info }}">
          </td>
          <td class="td_remark">作者简介
          </td>
      </tr>

      <tr>
          <td class="td_name">作者头像：</td>

          <td class="td_content">
              <input type="text" id="author_head_url" class="form-control borderSize mw" readonly="true" value="{{ author.head_url }}">
              <input id="file" type="file" name="file" />
          </td>
          <td class="td_remark">必选，可以上传：png格式的文件,不能超过10M
          </td>
      </tr>

    </table>
</div>
<input id="txtFileName" type="hidden" value="" />
<input id="txtExtension" type="hidden" value="" />

<div class="op_panel" style="text-align: center;">
    <input type="button" id="btnAdd" class="btn btn-primary" onclick="onUpdateDo()"  value="确定">
    &nbsp;&nbsp;
    <input type="button" id="btnReturn" class="btn btn-default" onclick="onReturn()"  value="返回列表">
</div>

</div>

{% include "include/alertDialog.html" %}
</form>
{% endblock %}
