{% extends 'home.html' %}
{% load staticfiles %}
{% block link %}
  <script type = 'text/javascript' src = "{% static 'js/career/land_course.js' %}"></script>
{% endblock %}

{% block content %}
<form id="form1" name="form1">
<div class="op_panel">

    <div class="table-responsive">

    <table class="table table-bordered ">
        <tr>
            <td class="td_name">小课程ID： </td>
            <td class="td_content">
                <input type="text" id="course_id" class="form-control borderSize mw"/>
            </td>
            <td class="td_remark">必填，小课程的ID
            </td>
        </tr>
    </table>
</div>

<div class="op_panel" style="text-align: center;">
    <input type="button" id="btnAdd" class="btn btn-primary" onclick="onAddDo()"  value="确定">
    &nbsp;&nbsp;
    <input type="button" id="btnReturn" class="btn btn-default" onclick="onReturn()"  value="返回列表">
</div>

</div>

</form>
{% endblock %}
