{% extends 'home.html' %}
{% load staticfiles %}
{% block link %}
  <script type = 'text/javascript' src = "{% static 'js/career/note.js' %}"></script>
{% endblock %}

{% block content %}
<form id="form1" name="form1">
<div class="op_panel">

    <div class="table-responsive">

    <table class="table table-bordered ">
      修改笔记
      <tr>
          <td class="td_content" style="display:None">
              <input type="text" id="course_id" class="form-control borderSize mw" value="{{ course_id }}" >
              <input type="text" id="knowledge_id" class="form-control borderSize mw" value="{{ knowledge_id }}" >
              <input type="text" id="item_id" class="form-control borderSize mw" value="{{ item_id }}" >
              <input type="text" id="note_id" class="form-control borderSize mw" value="{{ note.id }}" >
          </td>
      </tr>
      <tr>
          <td class="td_name">笔记内容 </td>
          <td class="td_content">
              <input type="text" id="note_content" class="form-control borderSize mw" value="{{ note.content }}">
          </td>
          <td class="td_remark">必填，章节名称
          </td>
      </tr>
    </table>
</div>

<div class="op_panel" style="text-align: center;">
    <input type="button" id="btnAdd" class="btn btn-primary" onclick="onUpdateDo()"  value="确定">
    &nbsp;&nbsp;
    <input type="button" id="btnReturn" class="btn btn-default" onclick="onReturn()"  value="返回列表">
</div>

</div>

{% include "include/alertDialog.html" %}
</form>
{% endblock %}
