<div class="service-course">
    <h2>Get ! 麦子LPS服务课程</h2>
    <ol class="tab-nav">
        <li class="select">保就业班</li>
        <li>免就业班</li>
    </ol>
    <ul class="tab-box">
        <li class="first">
            <div>
                <span class="icon-1">保就业服务</span>
                <span class="icon-2">223个知识点</span>
                <span class="icon-3">210录播课时</span>
                <span class="icon-4">40个直播课时</span>
                <span class="icon-5">20次项目实战</span>
                <span class="icon-6">LPS永久使用权</span>
            </div>
            <p>
                <span class="old-sale">市场价：18880</span>
                <span class="sale">麦子特惠价：8800</span>
                <a href="" target="_blank">立即购买</a>
            </p>
        </li>
        <li>
            <div>
                <span class="icon-1">保就业服务</span>
                <span class="icon-2">223个知识点</span>
                <span class="icon-3">210录播课时</span>
                <span class="icon-4">40个直播课时</span>
                <span class="icon-5">20次项目实战</span>
                <span class="icon-6">LPS永久使用权</span>
            </div>
            <p>
                <span class="old-sale">市场价：16880</span>
                <span class="sale">麦子特惠价：6800</span>
                <a href="" target="_blank">立即购买</a>
            </p>
        </li>
    </ul>
</div>