{% extends "index.html" %}
{% block pager %}
    {% load  staticfiles %}
    <div class="container-fluid add_or_edit_order">
        <div class="row">
            <div class="col-md-8" id="titleart">
                <h2 class="text-info">{% if action == 'add' %}添加{% else %}修改{{ order.ordername }}订单信息{% endif %}</h2>
                <hr>
            </div>
            <div class="col-md-8">
                <form id="order" action="




                        {% if action == 'add' %}{% url 'mz_fxsys:add_order' %}{% else %}{% url 'mz_fxsys:edit_order' %}?uid={{ order.id }}{% endif %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if action == 'add' %}
                        <div class="form-group" id="phone">
                            <span style="color: red;margin-left: -8px;">*</span>
                            <label for="issued">签单人员(推广人)</label>
                            <select type="text" class="form-control" id="issued" name="user">
                            </select>
                        </div>
                        <div class="form-group" id="orderNO">
                            <span style="color: red;margin-left: -8px;">*</span>
                            <label for="order_No">订单编号</label>
                            <input type="text" class="form-control" id="order_No" name="order_No"
                                   value="{{ order.order_No|default_if_none:"" }}" placeholder="请输入订单编号">
                        </div>
                        <div class="form-group">
                            <span style="color: red;margin-left: -8px;">*</span>
                            <label for="order_price">订单金额（推荐课程）</label>
                            <select type="text" class="form-control" id="order_price"
                                    value="{{ order.order_price|default_if_none:"" }}"
                                    name="order_price">
                                <option value="1">2999-微课</option>
                                <option value="2">6999-非保就业课程</option>
                                <option value="3">8800-保就业课程</option>
                                <option value="4"> 19800-线下课程</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <span style="color: red;margin-left: -8px;">*</span>
                        <label for="student_name">学生姓名（被推荐人）</label>
                        <input type="text" class="form-control" id="student_name"
                               value="{{ order.student_name|default_if_none:"" }}"
                               name="student_name" placeholder="请输入学生姓名">
                    </div>
                    <div class="form-group">
                        <span style="color: red;margin-left: -8px;">*</span>
                        <label for="date">签单日期（推荐日期）</label>
                        <input size="16" type="text" id="date" name="date" readonly
                               class="form_datetime form-control"
                               value="{{ order.date|date:"Y-m-d H:i:s" }}"
                               placeholder="请选择签单日期">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm save" style="display: none">保存</button>
                    <button type="button" class="btn btn-primary btn-sm edit" style="display: none">修改</button>
                    <button type="button" class="btn btn-default btn-sm goback">返回</button>
                </form>
                <hr>
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="/static/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <script type="application/javascript">
        var goback = $('.goback'), edit = $('.edit'), save = $('.save'), order_No = $('#order_No'),
                form_control = $('.form-control'), issued = $('#issued'), order_list = [];
        $(function () {
            //动态select选项
            $.ajax({
                url: "{% url 'mz_fxsys:get_all_user_ajax' %}",
                type: "get",
                async: false,
                success: function (data) {
                    var selectinfo = [];
                    $.each(data.result, function (index, items) {

                        if (items.full_name == null) {
                            items.full_name = ''
                            selectinfo.push('<option value="' +
                                    items.id + "_" + items.username + '">' + items.username + '</option>'
                            );
                        } else {
                            selectinfo.push('<option value="' +
                                    items.id + "_" + items.username + '">' + items.username + ':' + items.full_name + '</option>'
                            );
                        }
                    });
                    $("#issued").append(selectinfo.toString());
                }
            });
            //数据绑定
            $("#issued option[value='" + {{ order.user_id }} +"']").attr('selected', 'selected');
            $("#order_price option[value='" + {{ order.order_price }} +"']").attr('selected', 'selected')
            {% if action == "show" %}
                form_control.attr('readonly', 'readonly');
                edit.show();
                save.hide();
            {% else %}
                form_control.removeAttr('readonly');
                edit.hide();
                save.show();
            {% endif %}
            order_list = get_order_list().responseJSON.result;
        });
        // 回退按钮
        goback.off('click').on('click', function () {
            history.go(-1)
        });
        // 日期课件
        $("#date").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language: 'zh-CN',
            autoclose: true,
            endDate: new Date(),
        });
        // 更改为编辑模式
        edit.off('click').on('click', function () {
            form_control.removeAttr('readonly');
            edit.hide();
            save.show();
        });
        // 验证订单号是否存在
        function vaildate_order_exist() {
            var orderNo = order_No.val().trim();
            console.log(order_list);
            for (var i = 0; i < order_list.length; i++) {
                console.log(order_list[i]);
                if (order_list[i] == orderNo) {
                    return true
                }
            }
            return false
        }
        // 获取已有的所有订单
        function get_order_list() {
            return $.ajax({
                url: '{% url 'mz_fxsys:validate_order_No_exist' %}',
                type: 'GET',
                async: false,  // 必须使用同步，不然数据还没有查询出来就return了
                dataType: 'json',
                success: function (data) {
                    return data.result;
                }
            });
        }

        // 验证数据合法性
        $(document).ready(function () {
            jQuery.validator.addMethod("validate_order_No", function (value, element) {
                return this.optional(element) || vaildate_order_exist() ? false : true;
            }, "该订单号已存在，请重新输入！")
        });
        $("#order").validate({
            rules: {
                order_No: {
                    required: true,
                    validate_order_No: true
                },
                order_price: {
                    required: true,
                },
                student_name: {
                    required: true,
                },
                date: {
                    required: true,
                }
            },
            messages: {
                order_No: {
                    required: "请输入订单号",
                },
                order_price: {
                    required: "请输入订单价格",
                },
                student_name: {
                    required: "请输入学生姓名",
                },
                date: {
                    required: "请选择签单日期",
                }

            }
        });

    </script>
{% endblock %}
