<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="true" name="HandheldFriendly">

<title>麦子学院</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mz_lps4/css/style.css"/>
<style>

</style>
</head>

<body>
<div class="printMain">
    <p class="font30 color66 pt">彭小中</p>
    <p class="color66 font18 marginB14">基本信息</p>
    <table class="printMainTable color33 font14">
        <tr>
            <td class="t1">性别：</td><td class="t2">女</td>
            <td class="t1">年龄：</td><td class="t2">26</td>
            <td class="t1">QQ：</td><td >377634990</td>
        </tr>
        <tr>
            <td class="t1">电话：</td><td class="t2">18628388664</td>
            <td class="t1">邮箱：</td><td class="t2">暂无</td>
            <td class="t1">麦子账号：</td><td class="t2">377634990 18628388664</td>
        </tr>
        <tr>
            <td class="t1">意向就业城市：</td><td class="t2"></td>
            <td class="t1">毕业院校：</td><td class="t2"></td>
            <td class="t1"></td><td class="t2"></td>
        </tr>
        <tr>
            <td class="t1">在职与否：</td><td class="t2"></td>
            <td class="t1">工作年限：</td><td class="t2"></td>
            <td class="t1"></td><td class="t2"></td>
        </tr>
        <tr>
            <td class="t1">身份证号：</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td class="t1">地址：</td><td colspan="5">四川省成都市天府软件园</td>
        </tr>
        <tr>
            <td class="t1">自我评价：</td><td colspan="5"> 编程基础很差，希望能找到Android工程师的工作</td>
        </tr>
    </table>
    <p class="ptTwo font18 marginB14">学习信息</p>
    <table class="printMainTable color33 font14">
        <tr>
            <td class="t1">入学时间：</td><td style="width: 238px;">2016-02-14</td>
            <td class="t1">学历：</td><td>本科</td>
        </tr>
        <tr>
            <td class="t1">学习目标：</td><td>在校生想创业</td>
            <td class="t1">学习基础：</td><td>完全刚转入IT的小白</td>
        </tr>
        <tr>
            <td class="t1">学习目标：</td><td>王海宁</td>
            <td class="t1">教务老师：</td><td>傅玲</td>
        </tr>
    </table>
    <p class="ptTwo font18 marginB14">支付信息</p>    
    <p class="ptThree color99"><span class="font18 color33">订单</span>3091417359101035</p>
    <table class="printMainTable color33 font14">
        <tr>
            <td class="t1">支付课程：</td><td style="width: 238px;">Android应用开发</td>
            <td class="t1">支付金额：</td><td>688</td>
        </tr>
        <tr>
            <td class="t1">支付类型：</td><td>试学款</td>
            <td class="t1">支付方式：</td><td>微信支付</td>
        </tr>
        <tr>
            <td class="t1">订单号：</td><td>147913570130571713</td>
            <td class="t1"></td><td></td>
        </tr>
    </table>   
    <p class="ptTwo font18 marginB14">班会考勤</p>    
    <table class="printMainTable2 color33 font14">
        <tr>
            <th style="width:33.3%;">班会时间</th><th style="width:33.3%;">班会主题</th><th>考勤</th>
        </tr>
        <tr>
        	<td>2016-02-03&nbsp;&nbsp;周三&nbsp;&nbsp;20:00</td><td>Android基础</td><td>正常参加</td>
        </tr>
        <tr>
        	<td>2016-02-03&nbsp;&nbsp;周三&nbsp;&nbsp;20:00</td><td>Android基础</td><td>正常参加</td>
        </tr>
        <tr>
        	<td>2016-02-03&nbsp;&nbsp;周三&nbsp;&nbsp;20:00</td><td>Android基础</td><td>正常参加</td>
        </tr>
    </table>
    
    <div class="downxls" >
        <a href=""><img src="{{ STATIC_URL }}mz_lps4/images/downxls.png">导出学籍信息</a>
    </div>
</div>
</body>
</html>
