<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业直通班报名付款 - 麦子学院</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mz_lps4/css/style.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}mz_lps4/js/jquery.min.js"></script>
<style>

</style>
</head>

<body class="YaHei success">
<div class="paytop">
	<div class="center colorff font24">麦子学院</div>
</div>
<div class="center" style="padding-top:40px; margin-bottom:30px;">
	<div class="paySuccessBox payBG color66 ">
    	<p class="font24 color33">亲爱的同学，恭喜你支付成功</p>
    </div>
    <div class="paySuccessFont font20 textC color66 down t8o"><div class="fl">付款金额：&yen; <span class="color5e bold" style="margin-right: 40px;">{{ total_fee }}</span> 付款专业：<span class="color5e bold">{{ careercourse_name }}</span></div><div class="fr font16 color33">麦子学院，如何疑问请致电400-8628-862</div><i class="i1"></i><i class="i2"></i></div>

    <div class="font16 color66 textC marginB20" style="line-height: 26px;width: 496px;margin-left: auto;margin-right: auto;">
		<p>你已正式入学麦子学院，接下来请你务必完善学习信息，</p>
	    <p>以便老师与你进行第一次的入学沟通，顺利开启你全新的麦子学习生涯</p>
    </div>
    <a class="paySuccessFont2 font18 textC colorff" href="{{ url }}">开始学习<i class="payBG"></i></a>
    <div class="payStudyProcess opacity0 t11o">
    	<div class="circle ca font14"><p class="payBG"></p><p class="f color66">报名成功</p></div>
        <div class="circle cb font14"><p class="payBG"></p><p class="f color66">完善个人信息</p></div>
        <div class="circle cc font14"><p class="payBG"></p><p class="f color66">完成学习</p></div>
        <div class="circle cd font14"><p class="payBG"></p><p class="f color66">推荐就业</p></div>
        <div class="circleCenter">班级学习交流群<br />独有学习系统
        	<div class="ears">
            	<span class="payBG s1"></span><span class="payBG s2"></span><span class="payBG s3"></span>
                <svg width="364px" height="250px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                	<g id="Artboard-12" transform="translate(60, 60)">
						<path fill="#95E3FF" d="M179.334,94.472c0 0,-5.084 -4.069,-5.084 -4.069s0,0,-2.25,-3.416c0 0,0 0,-2.75 -2.5c0 0 0 0 -57.416 16.167c0,0 0 0 -5 -3.5s0,0 -4 -1.5s0 0 1 1c0 0 0 0 1 1c0 0,0 0 -5 2C99 99,71,96,71,96s0,0,0,0c10.333 -1.667,0,0,8.333,8s-19.333,43.333,17.667,73S201.334,173.806,179.334,94.472z" over="M179.334,94.472c-1.334 -12,8.333 -8.333,8.333 -8.333s15.667,7.333,36.667,0c26.916 -17.167,25.62 -41.239,24.416 -47.167c-1.5 -15.25 -20.416 -46.833 -57.416 -37.167c-38.834,13.667 -31.333,53.333 -28,57.667s-2.667,12 -9.667,10s-20.667 -18 -59 -1c-10,2 -7.667 -8.667 -7.667 -8.667c1.298 -11.32,9 -36 -20 -53.333C36.333 -9.862,2.5,8.597,0.625,43.097s33,55.25,62.042,43.375c10.333 -1.667,8.333,8,8.333,8s-19.333,43.333,17.667,73S201.334,173.806,179.334,94.472z" stroke-width=1px></path>
        			</g>
                </svg>
                <div class="font opacity0 t8o">教务老师督促跟进学习<i></i></div><div class="font font2 opacity0 t8o">带班老师实时解答问题<i></i></div>
            </div>
            <div class="reears">
            	<span class="payBG s1"></span><span class="payBG s2"></span><span class="payBG s3"></span>
                <svg width="364px" height="250px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                	<g id="Artboard-12" transform="translate(60, 60)" >
						<path fill="#95E3FF" d="M179.334,94.472c0 0,-5.084 -4.069,-5.084 -4.069s0,0,-2.25,-3.416c0 0,0 0,-2.75 -2.5c0 0 0 0 -57.416 16.167c0,0 0 0 -5 -3.5s0,0 -4 -1.5s0 0 1 1c0 0 0 0 1 1c0 0,0 0 -5 2C99 99,71,96,71,96s0,0,0,0c10.333 -1.667,0,0,8.333,8s-19.333,43.333,17.667,73S201.334,173.806,179.334,94.472z" over="M179.334,94.472c-1.334 -12,8.333 -8.333,8.333 -8.333s15.667,7.333,36.667,0c26.916 -17.167,25.62 -41.239,24.416 -47.167c-1.5 -15.25 -20.416 -46.833 -57.416 -37.167c-38.834,13.667 -31.333,53.333 -28,57.667s-2.667,12 -9.667,10s-20.667 -18 -59 -1c-10,2 -7.667 -8.667 -7.667 -8.667c1.298 -11.32,9 -36 -20 -53.333C36.333 -9.862,2.5,8.597,0.625,43.097s33,55.25,62.042,43.375c10.333 -1.667,8.333,8,8.333,8s-19.333,43.333,17.667,73S201.334,173.806,179.334,94.472z" stroke-width=1px></path>
        			</g>
                </svg>
                <div class="font opacity0 t8o">完善的知识任务体系<br />配备大量商业级别项目<i></i></div><div class="font font2 opacity0 t8o">带班老师直播班<br />会面对面授课<i></i></div>
            </div>
        </div>
        <div class="payArrow">
        	<i class="payBG "></i><i class="payBG "></i><i class="payBG "></i><i class="payBG "></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i><i class="payBG"></i>
        </div>
    </div>
    
</div>
<div class="paybottom textC color33 font14">© 2012-2016 <a href="http://www.maiziedu.com/" class="color66">www.maiziedu.com</a> 蜀ICP备13014270号-4 Version 5.0.0 release20160127</div>

<script type="text/javascript" src="{{ STATIC_URL }}mz_lps4/js/dynamics.js"></script>
<script>
$(function(){
	var userAgent = navigator.userAgent;console.log(userAgent)
	var ca=$(".payStudyProcess .ca>.payBG").get(0);
	var cb=$(".payStudyProcess .cb>.payBG").get(0);
	var cc=$(".payStudyProcess .cc>.payBG").get(0);
	var cd=$(".payStudyProcess .cd>.payBG").get(0);

	function horizontalBounce(){
		dynamics.animate(ca, {
			scaleY: 0.7,
			scaleX: 1.3
		}, {
			type: dynamics.bounce,
			duration: 1000,
			bounciness: 600,
			delay: 0,
			complete: setTime1
		});
		dynamics.animate(cb, {
			scaleY: 0.7,
			scaleX: 1.3
		}, {
			type: dynamics.bounce,
			duration: 1000,
			bounciness: 600,
			delay: 560
		});
		dynamics.animate(cc, {
			scaleY: 0.7,
			scaleX: 1.3
		}, {
			type: dynamics.bounce,
			duration: 1000,
			bounciness: 600,
			delay: 1260,
		});
		dynamics.animate(cd, {
			scaleY: 0.7,
			scaleX: 1.3
		}, {
			type: dynamics.bounce,
			duration: 1000,
			bounciness: 600,
			delay: 1460,
		});
	}
	function setTime1(){
		dynamics.setTimeout(horizontalBounce,560)
	}

	//上耳朵
	function secondAn(){
		var gg=$(".payStudyProcess .circleCenter .ears>svg path");

        dynamics.animate(gg.get(0), {
            d:gg.get(0).getAttribute('over')
        }, {
            type: dynamics.spring,
            duration: 2000,
            friction:300,
            complete: function(){}
        });

		var spanArr=$(".payStudyProcess .circleCenter .ears > span");
		dynamics.animate(spanArr.eq(0).get(0), {
			scaleY: 0.8,
			scaleX: 1.2
		}, {
			type: dynamics.bounce,
			duration: 2000,
			complete: function(){}
		});
		dynamics.animate(spanArr.eq(1).get(0), {
			top: 22,
			left: 0
		}, {
			type: dynamics.spring,
			duration: 2000,
			friction:230,
			complete: function(){}
		});

		dynamics.animate(spanArr.eq(2).get(0), {
			top: 17,
			right: 0
		}, {
			type: dynamics.spring,
			duration: 2000,
			friction:230,
			complete: function(){$(".payStudyProcess .circleCenter .ears .font").removeClass("opacity0")}
		});
	}
	//下耳朵
	function secondAnD(){
		var gg=$(".payStudyProcess .circleCenter .reears>svg path");

        dynamics.animate(gg.get(0), {
            d:gg.get(0).getAttribute('over')
        }, {
            type: dynamics.spring,
            duration: 2000,
            friction:300,
            complete: function(){}
        });

		var spanArr=$(".payStudyProcess .circleCenter .reears > span");
		dynamics.animate(spanArr.eq(0).get(0), {
			scaleY: 0.8,
			scaleX: 1.2
		}, {
			type: dynamics.bounce,
			duration: 2000,
			complete: function(){}
		});
		dynamics.animate(spanArr.eq(1).get(0), {
			bottom: 20,
			left: 0
		}, {
			type: dynamics.spring,
			duration: 2000,
			friction:230,
			complete: function(){}
		});

		dynamics.animate(spanArr.eq(2).get(0), {
			bottom: 20,
			right: 0
		}, {
			type: dynamics.spring,
			duration: 2000,
			friction:230,
			complete: function(){$(".payStudyProcess .circleCenter .reears .font").removeClass("opacity0");}
		});
	}
	function init(){
		setInterval(function(){
			var i4=$(".payStudyProcess .payArrow>i.i4");
			if(i4.length==0){
				i4=$(".payStudyProcess .payArrow>i:first-child");
				$(".payStudyProcess .payArrow>i").removeClass("i1 i2 i3");
			}
			i4.removeClass("i4").addClass("i3").next().addClass("i4");
			if(i4.prev().length>0) i4.prev().removeClass("i3").addClass("i2");
			if(i4.prev().prev().length>0) i4.prev().prev().removeClass("i2").addClass("i1");
			if(i4.prev().prev().prev().length>0) i4.prev().prev().prev().removeClass("i1");
		},100);
		horizontalBounce();
		dynamics.setTimeout(twoInit,600)
	}
	function twoInit(){
		$(".circleCenter svg").show();
		var ears=$(".payStudyProcess .circleCenter .ears");
		var earsbo=true,reearsbo=true;
		ears.hover(function(){
			if(earsbo){earsbo=false;
			dynamics.animate(ears.get(0), {
				scaleY: 0.8,
				scaleX: 1.2
			}, {
				type: dynamics.bounce,
				duration: 1000,
				complete: function(){earsbo=true;}
			});
			}
		},function(){});
		var reears=$(".payStudyProcess .circleCenter .reears");
		reears.hover(function(){
			if(reearsbo){reearsbo=false;
			dynamics.animate(reears.get(0), {
				scaleY: 0.8,
				scaleX: 1.2
			}, {
				type: dynamics.bounce,
				duration: 1000,
				complete: function(){reearsbo=true;}
			});
			}
		},function(){})

		secondAn();
		secondAnD();

	}
	dynamics.setTimeout(init,1800)
	//one
	$(".paySuccessFont").removeClass("down");
	$(".payStudyProcess").removeClass("opacity0");
	var payBGbo=true;
	$(".paySuccessFont2").hover(function(){
		var $th=$(this);
		if(payBGbo){payBGbo=false;
		dynamics.animate($th.children(".payBG").get(0), {
			translateX:30
		}, {
			type: dynamics.gravity,
			duration: 1000,
			elasticity:428,
			complete: function(){payBGbo=true;$th.children(".payBG").css("transform","matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)");}
		});
		}
	},function(){})
})

</script>
<!-- 诸葛io统计 -->
<script type="text/javascript">
$(function(){
    zhuge.identify(
        "{{ user.id }}",
        {
            'name' : "{{ user.nick_name }}",
            'mark_pay' : "付费用户"
        }
    );
    zhuge.track("付费用户", {
        "事件位置": '支付成功页面'
    });

});
</script>
</body>
</html>
