<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>重置密码</title>
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/microoh-v5.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        //重置密码表单验证
        function reset_password_form_submit(){
            $.ajax({
                cache: false,
                type: "POST",
                url:"/user/password/reset/update/",
                data:$('#reset_password_form').serialize(),
                async: true,
                beforeSend:function(XMLHttpRequest){
                    $("#reset_password_tips").html("验证中...").show(500);
                },
                success: function(data) {
                    if(data.password){
                        $("#reset_password_tips").html(data.password).show(500);
                        $("#id_password").focus();
                    }else if(data.password2){
                        $("#reset_password_tips").html(data.password2).show(500);
                        $("#id_password2").focus();
                    }else if(data.__all__){
                        $("#reset_password_tips").html(data.__all__).show(500);
                        $("#id_password2").focus();
                    }else if(data.status == "success"){
                        $("#reset_password_tips").attr("class","tips-error bg-success").html("密码重置成功").show(500).delay(2000).fadeOut(1000,function(){ location.href="/" });
                    }
                }
            });
        }
    </script>
</head>

<body>
<div class="microoh-main">
    <div class="container">
        <div class="modify-psw">
            <div class="v5-tips">
                <i class="v5-icon v5-icon-right"></i>
                <span>验证成功，请输入新密码！</span>
            </div>
            <section class="box-resetpswsuccess v5-input-txt" id="box-resetpswsuccess">
                <form id="reset_password_form" action="{% url 'user:update_reset_password' %}" method = "post" onsubmit="reset_password_form_submit();return false;" enctype="multipart/form-data">
                    {% csrf_token %}
                <ul>
                    <li class="form-group">{{ update_password_form.password }}</li>
                    <li class="form-group">{{ update_password_form.password2 }}</li>
                </ul>
                <div>
                    <button type="button" class="btn btn-micv5 btn-block" onclick="reset_password_form_submit()">提交</button>
                </div>
                <div id="reset_password_tips" class="tips-error bg-danger" style="display: none">错误提示</div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
</html>
