<!--修改密码-->
<div class="modal fade" id="resetpswModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-sm">
    <form class="form-horizontal uc-form" id="change_pass" role="form" autocomplete="off">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="forgetpswModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <section class="box-resetpsw v5-input-txt" id="box-resetpsw">
                    <ul>
                        <li class="form-group">{{changeform.original_pass}}</li>
                        <li class="form-group">{{changeform.newpass}}</li>
                        <li class="form-group">{{changeform.newpass1}}</li>
                    </ul>
                    <div>
                        <button type="button" id="change-pass" class="btn btn-micv5 btn-block">提交</button>
                    </div>
                    <div class="tips-error bg-danger">错误提示</div>
                </section>
            </div>
        </div>
    </form>
    </div>

</div>