<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>		
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="renderer" content="webkit"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>麦子学院邀请注册</title>
		<meta name="Keywords" content=""/>
		<meta name="Description" content=""/>
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/mz_lps4/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/static/mz_lps4/css/style.css?201603031637"/>
		<link rel="stylesheet" type="text/css" href="/static/css/invited160408_style.css"/>
		<script>var _fps_site_url = '{{ FPS_HOST }}';var login_popupvar=false;</script>
	</head>
	<body>
		<div class="bg-box"></div>
		<div class="containers containers2">			
			<div class="coupons-content">
				<h1><img src="/static/images/add_invited_160408/logo.png" alt="麦子学院"/></h1>
				<div class="coupon-price">
					<strong>￥200.00</strong>
					<span>现金红包可直接抵用直通班报名费用</span>
				</div>
				<div class="coupon-get">
					<a href="{% url 'user:sign_up' %}?ic={{ invitation_code }}"><span class="get-btn">立即领取</span></a>
					<span class="hd-open">活动说明</span>
					<div class="hd-infos-box">					
						<div class="title">
							<span class="closed">关闭</span>
							<strong>活动说明</strong>						
						</div>
						<div class="content">
							<ol>
                                <li>1.通过好友的该链接进入麦子学院官网注册；</li>
                                <li>2.注册成功享受立减200元学费的优惠(“488试学+尾款”模式除外)；</li>
                                <li>3.而推荐您的好友也将获得200元的现金红包。</li>
                                <li>4.领取成功后，现金红包将在您报名企业直通班课程时自动扣减。</li>
                                <li>5.只有通过当前页面注册才会获得现金红包；</li>
							</ol>
							<p><em>注意：</em>如果您已经通过他人的邀请链接注册，便无法生成您的邀请标记！</p>
							<p>对活动时间及奖励设置，麦子学院拥有最终解释权</p>
							<span class="closed">关闭</span>
						</div>
					</div>
				</div>
			</div>
			<div class="coupon-course">
				<figure>
					<figcaption><span>麦子学院</span></figcaption>
					<p><span>拉钩、猎聘、智联招聘战略合作</span> | <span>首家在硅谷设立课程中心的在线教育机构</span></p>
				</figure>
				<div class="slogan">
					<span>最符合就业趋势的</span>
					 <strong>IT在线职业培训</strong>
				</div>
				<ul>
					<li>精品课程</li>
					<li>一线导师</li>
					<li>80%就业率</li>
				</ul>
			</div>
			<div class="coupon-desc">
				<div class="titles">
					<h3><em>3个月</em>精品课程 • <em>360°</em>监控学习效果 • 一线导师<em>小班</em>陪练</h3>
					<span>只用3个月，学到人家花费3年时间学的干货</span>
				</div>
				<dl>
					<dt><img src="/static/images/add_invited_160408/coupon_img2.jpg"/></dt>
					<dd>
						<strong><span>轻松</span>入门到精通</strong>
						<ul>
							<li>• 将枯燥学习内容分解为多个任务</li>
							<li>• 海量知识点更容易被吸收</li>
							<li>• 与老师项目互动参与实战</li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="section5">
				<ul class="bxslider2">
			        <li pt="Chris" en="Linkedin Data Tech" pc="“We partner with organizations such as maizi education – and invest in their missions – to help these youth access new opportunities and direct paths to employment.”" hp="http://maizi-video.oss-cn-hangzhou.aliyuncs.com/cfsp/cfspChris.mp4">
			            <img src="/static/mz_lps4/img/z011.jpg" /><i></i>
			        </li>
			        <li pt="王海宁" en="嵌入式应用开发金牌讲师" pc="“现在我们上课相对传统模式的教育来说，我们可以更加直观的看到每个学生真实的学习状态和一个学习进度，每个学生都有一套自己的清晰明了的学习路线，通过多元化的学习方式，完成每周的学习任务。”" hp="http://maizi-video.oss-cn-hangzhou.aliyuncs.com/cfsp/cfspwhn.mp4"><img src="/static/mz_lps4/img/z004.jpg" /><i></i></li>
			        <li pt="马青" en="游戏原画设计金牌讲师" pc="“在设计麦子学院游戏原画课程时，考虑更多的是美术基础和设计思路的贯穿性，不仅关注学员的基础能力，也关注学员基础能力的培养，目的在于为数字娱乐行业培养更多优秀合格的设计师。”" hp="http://maizi-video.oss-cn-hangzhou.aliyuncs.com/cfsp/cfspmq.mp4"><img src="/static/mz_lps4/img/z007.jpg" /><i></i></li>
			    </ul>
			    <div class="teacherVideo">
			        <video id="microohvideo2" class="video-js vjs-default-skin vjs-big-play-centered" autoplay controls preload="none" width="100%" height="100%" poster="">
			            <source src="" type='video/mp4'/>
			        </video>
			        <div class="teacherVideoD"><a class="teacherVideoClose" n="0"></a></div>
			    </div>
				<div class="colorff textC div">
			    	<p class="font20">Chris</p>
					<p class="font40 Arial marginB29">Linkedin Data Tech</p>
			        <p class="font16 marginB60 line2">“We partner with organizations such as maizi education – and invest in their missions – to help these youth access new opportunities and direct paths to employment.”</p>
			        <p hp="http://maizi-video.oss-cn-hangzhou.aliyuncs.com/cfsp/cfspChris.mp4"><a class="videoArrow"></a></p>
			    </div>
			    <div class="section5_bottom textC t5o">
			    	<a class="t3out aH" target="_blank" n=0><img src="/static/mz_lps4/img/z010.jpg"><i></i></a><a class="t3out" target="_blank" n=1><img src="/static/mz_lps4/img/z003.jpg"><i></i></a><a class="t3out" target="_blank" n=2><img src="/static/mz_lps4/img/z006.jpg"><i></i></a>
			    </div>		
			</div>
			<div class="coupon-student">
				<div class="titles">
					<h3>名企<em>直推</em>快速就业 • 高达<em>80%</em>的就业转化率给你<em>100%</em>的信心</h3>
					<span>从这里走出了大批受企业青睐的学员</span>
				</div>
				<ul>
					<li><a href="">
						<p><img src="{{ MEDIA_URL }}starstory/2015/11/%E5%91%A8%E5%AE%89%E4%BC%9F.jpg"/></p>
						<strong>周安伟</strong>
						<span>Cocos2d-x 开发工程师</span>
						<em>入职月薪￥8000</em>
					</a></li>
					<li><a href="">
						<p><img src="{{ MEDIA_URL }}starstory/2015/11/%E5%88%98%E6%A2%A6%E5%A5%87.jpg"/></p>
						<strong>刘梦奇</strong>
						<span>产品经理</span>
						<em>入职月薪￥9000</em>
					</a></li>
					<li><a href="">
						<p><img src="{{ MEDIA_URL }}starstory/2015/11/%E6%9D%8E%E4%BA%91%E9%9D%92.jpg"/></p>
						<strong>李云青</strong>
						<span>产品经理</span>
						<em>入职月薪￥7500</em>
					</a></li>
					<li><a href="">
						<p><img src="{{ MEDIA_URL }}starstory/2015/11/%E6%AE%B5%E6%96%B0%E5%9D%AA.jpg"/></p>
						<strong>段新枰</strong>
						<span>Android开发工程师</span>
						<em>入职月薪￥9000</em>
					</a></li>
				</ul>
			</div>
			<div class="coupon-protocol">
				<div class="detail">
					<p><img src="/static/images/add_invited_160408/coupon_LessonImg.png"/></p>
					<strong>入学即签保就业法律协议</strong>
					<span>无法就业，承诺退款</span>
				</div>
			</div>
			
		</div>
		<div class="back_top">
			<a href="{% url 'user:sign_up' %}?ic={{ invitation_code }}">立刻领取200元现金红包</a>
		</div>
		<!---分层播放-->
		<div class="modal fade" id="VideoDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-sm modal-content zy_VideoDemo" style="width: 800px;">
		        <a class="close"></a>
		        <div style="height: 450px;">
		            <video id="microohvideo" class="video-js vjs-default-skin vjs-big-play-centered" autoplay controls preload="none" width="100%" height="100%" poster="http://vjs.zencdn.net/v/oceans.png">
		                <source src="" type='video/mp4'/>
		            </video>
		        </div>
		
		    </div>
		</div>
		<script type="text/javascript" src="/static/mz_lps4/js/jquery.min.js"></script>		
		<script src="/static/mz_lps4/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/mz_lps4/js/jquery.placeholder.js"></script>
		<script src="/static/mz_lps4/js/jquery.bxslider.js"></script>
		
		<link rel="stylesheet" href="/static/mz_lps4/v/video-js.css">
		<script src="/static/mz_lps4/v/video.js"></script>
		<script>
		    videojs.options.flash.swf = "/static/mz_lps4/v/video-js.swf"
		</script>
		<script src="/static/mz_lps4/js/book.js?201603021545" type="text/javascript"></script>
		<script type="text/javascript">
			findDimensions();
			$(function(){				
				// 活动说明
				$(".hd-open").click(function(){
					$(".bg-box").show();
					$(".hd-infos-box").show(200);
				});
				$(".closed").click(function(){
					$(".bg-box").fadeOut(200);
					$(this).parent().parent().hide(200);
				});	
				//注册验证
{#				captcha(".register-box .captcha1", 'mobile/');#}
{#				//点击领取优惠券显示注册界面#}
{#				$(".get-btn").click(function(){#}
{#					$(".register-box").slideToggle()#}
{#				});#}
				//播放视频
				myIndex.prototype=new  Load();
				var loading=new myIndex();
				loading.indexInit();

			});			
		</script>
	</body>
</html>
