{% extends "mz_backend/base.html" %}
{% block title %}加入班级{% endblock %}
{% block container %}
<form action="{% url 'backend:quit_class_2_view' %}" method="post">
    {% csrf_token %}
    <table width="500px">
        <tr>
            <td colspan="2">
                <h3>退班有风险，请谨慎操作！</h3>
            </td>
        </tr>
        <tr>
            <td>用户账号(手机或email)：</td>
            <td><input type="text" name="account" class="input-text lh25" size="30" /></td>
        </tr>
        <tr>
            <td>班级编号(或班级名称)：</td>
            <td><input type="text" name="class_no" class="input-text lh25" size="30" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="下一步：确认退班信息" class="ext_btn ext_btn_submit"></td>
        </tr>
    </table>
</form>
{% endblock %}