<div class="wikiFoot">
    <div class="wikiFootLinks">
        <h3>友情链接</h3>
        <div class="navLink">
            {% for link in links %}<a href="{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>{% endfor %}
        </div>
    </div>
    <div class="mainfoot2 textC font14 color99">
        <img src="/images/footer_logo.png" class="marginB14" alt="logo"><br>
        © 2012-2016 www.maiziedu.com<br>蜀ICP备13014270号-4 Version 5.0.0 release20160127
    </div>
</div>