{% extends "mz_common/global.html" %}
{% load article_filter %}
{% block title %}麦子学院 - 约课列表{% endblock %}
{% block keywords %}麦子学院，约课列表{% endblock %}
{% block description %}约课列表{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="/js/lib/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/css/personalCenter.css?v={{ time_stamp }}"/>
    <link rel="stylesheet" type="text/css" href="/css/teaOneVOneLine.css?v={{ time_stamp }}"/>
{% endblock %}
{% block csstype %}oneVoneLine{% endblock %}
{% block container %}
    {% include 'header/index_header.html' %}
    {% include 'mz_usercenter/div_user_header.html' %}
    <div class="center personalCmain">
        {% block usercenter_left_panel %}
            {% include 'mz_usercenter/div_left_menu.html' %}
        {% endblock %}
        <div class="personalCmainR font14">
            {% if is_current %}
                <div class="lineTit create">
                    <div class="look_ever">
                        <a href="?old=true">查看往期约课></a>
                    </div>
                    <h3>约课</h3>
                </div>
            {% else %}
                <div class="lineTit">
                    <a href="{% url 'home:teacher:onevone_meeting' %}" class="go_back">
                        <返回
                    </a>
                    <h3>往期约课列表</h3>
                </div>
            {% endif %}
            {% if onevone_meeting_list %}
            <ul class="lineList">
                {% for m in onevone_meeting_list %}
                    <li>
                        <div class="lineDate">
                            <strong>{{ m.start_day }}</strong>
                            <span>星期{{ m.weekday }}</span>
                        </div>
                        <div class="listA">
                            {% for onevone_meeting in m.data %}
                                <div class="live_list">
                                    <div class="lineTop">
                                        <strong class="lineTime">直播时间&nbsp;{{ onevone_meeting.start_time | date:"H:i"}}-{{ onevone_meeting.end_time | date:"H:i"}}</strong>
                                        {% if onevone_meeting.status == 'CREATE' or onevone_meeting.status == 'START' or onevone_meeting.status == 'DATED' %}
                                            <a href_url="{{ onevone_meeting.join_url }}" alt="进入直播" class="live-btn living" meeting_id="{{ onevone_meeting.id }}">
                                                <i class="_ing"></i>
                                                <span>进入直播</span>
                                            </a>
                                        {% elif onevone_meeting.status == 'CANCEL' %}
                                            <span class="live-btn">
                                            <i class="_cancel"></i>
                                            <span class="cancel_txt">已取消</span>
                                        </span>
                                        {% elif onevone_meeting.join_url %}
                                            <a href="{{ onevone_meeting.join_url }}" alt="回看录播" class="live-btn look_back" target="_blank">
                                                <i class="_ed"></i>
                                                <span>回看录播</span>
                                            </a>
                                        {% else %}
                                            <span class="live-btn">
                                                <i class="_zw"></i>
                                                <span class="zw_txt">暂无录播</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="lineCon">
                                        <div class="lineTea">
                                            {% if onevone_meeting.user_head %}
                                                <img src="{{ MEDIA_URL }}{{ onevone_meeting.user_head }}" alt="{{ onevone_meeting.user_name }}">
                                                <strong>{{ onevone_meeting.user_name }}</strong>
                                            {% endif %}
                                            <span class="time">申请于&nbsp;{{ onevone_meeting.create_date_time | date:"Y-m-d H:i"}}</span>
                                        </div>
                                        <div class="txt">
                                            {% if onevone_meeting.content %}
                                                {{ onevone_meeting.content|safe }}
                                            {% else %}
                                                这个用户很懒，没有提交预约内容！
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a class="look_more" href="{{ url }}id={{ onevone_meeting.id }}">查看详情>></a>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="empty">
            <span>{% if is_current %}暂无约课{% else %}暂无往期约课{% endif %}</span>
            </div>
            {% endif %}
            <div class="lineBottom">
                {% include 'mz_common/paginater.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block toolbarDiv %}{% endblock %}
{% block google %}{% endblock %}
{% block custom_script %}
    <script type="text/javascript" src="/2016/dev/common.js?v={{ time_stamp }}"></script>
    <script type="text/javascript" src="/js/lib/layer/layer.js?v={{ time_stamp }}"></script>
    <script type="text/javascript">
        $(".teacherICO").on("mouseover", function () {
            layer.tips($(this).attr("title"), $(this), {
                tips: [1, '#333'] //还可配置颜色
            });
        });
    </script>
{% endblock %}