{% extends "index.html" %}
{% block pager %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript">
        function delCareerIntroduce(modal_name, title, url) {
            $('#title_delCareerIntroduce').text(modal_name);
            $('#btn_ensureDelCareerIntroduce').attr('onclick', 'ensureDelCareerIntroduce("' + url + '")');
            $('#delCareerIntroduceMessage').text('确定要删除“' + title + '”吗？');
            $('#modal_delCareerIntroduce').modal('show');
        }
        function ensureDelCareerIntroduce(url) {
            window.location.href = url;
        }
        $(function () {
            $('.inputArea1').attr('disabled', true);
        });
    </script>
    <!--刪除课程介绍警示框-->
    <div class="modal fade" id="modal_delCareerIntroduce" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-danger active">
                    <button type="button" class="close" data-dismiss='modal' aria-lable='close'><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-shadow:3px 3px 2px #000" id="title_delCareerIntroduce"></h4>
                </div>
                <div class="modal-body">
                    <h3 class="text-danger text-center active" id="delCareerIntroduceMessage"></h3>
                </div>
                <div class="modal-footer">
                    <span class="text-danger selectRowId" style="float: left;display: none"></span>
                    <button type="button" class="btn btn-danger active" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary active" onclick="ensureDelCareerIntroduce()"
                            id="btn_ensureDelCareerIntroduce">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-header active bg-success">
        <h4 class="modal-title" id="storyTitle" style="display: inline-block">职位介绍信息</h4>
    </div>
    <div class="content">
        {% if duties %}
            {% for duty in duties %}
                <div class="container-fluid" style="border-bottom: 1px #ddd solid;padding-top: 10px">
                    <div class="row-fluid">
                        <div class="col-md-8">
                            <div class="form-group">
                                <span class="notEmpty1" style="color: red">*</span>
                                <label for="txt_add_dutyName">岗位名称:</label>
                                <input class="inputArea1 txt_dutyName form-control" name="name" type="text"
                                       id="txt_add_dutyName" value="{{ duty.name }}"/>
                                <span class="inputAreaError lbl_dutyNameError"></span>
                            </div>
                            <div class="form-group">
                                <span class="notEmpty1" style="color: red">*</span>
                                <label for="txt_add_enterpriseName">企业简称:</label>
                                <input class="inputArea1 txt_enterpriseName form-control" name="enterprise"
                                       type="text"
                                       id="txt_add_enterpriseName" value="{{ duty.enterprise }}"/>
                                <span class="inputAreaError lbl_enterpriseNameError"></span>
                            </div>
                            <div class="form-group">
                                <a href="{% url 'mz_course:careerIntroduce_duty_edit' %}?action=edit&careerId=&dutyId={{ duty.id }}"
                                   role="button" title="保存" class="btn btn-default btn-success btn-sm active">
                                    <span class="glyphicon glyphicon-edit" style="margin-right: 3px"></span>修改</a>
                                <a href="javascript:void(0);"
                                   onclick="delCareerIntroduce('删除职位介绍信息','{{ duty.name }}','{% url 'mz_course:careerIntroduce_duty_list' %}?action=delete&id={{ duty.id }}&careerId={{ duty.career_id }}')"
                                   id="btn_delCareerIntroduceDuty" role="button" title="删除"
                                   class="btn btn-default btn-danger btn-sm active">
                                    <span class="glyphicon glyphicon-trash" style="margin-right: 3px"></span>删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <label class="text-danger">该课程无职位介绍信息</label>
        {% endif %}
    </div>
{% endblock %}
